In [6]:
n = int(input())
i =1 
while i < n+1 :
    print(i)
    i = i+1

5
1
2
3
4
5

In [2]:
n = int(input())
i =1 
sum = 0
while i < n+1 :
    sum = sum +i
    i = i + 1

print(sum)

5
15

In [4]:
n = int(input())
i =1
a = n
while i < n+1 :
    print(a)
    a = a - 1
    i = i+1

5
5
4
3
2
1

In [6]:
n = int(input())
i = 1
p =n
while i < n :
    p = p*i
    i = i+1 
print(p)

4
24

In [4]:
n = 12347

while n > 0:
    a = n%10
    n = n-a
    n = n//10
    print(a)

7
4
3
2
1

In [8]:
n = 12347
sum = 0 
while n > 0:
    a = n%10
    n = n-a
    n = n//10
    sum = sum + a 
print(sum)

17

In [15]:
num = int(input())
sum = 0

for i in range(1 , num+1):
    a = 1
    
    for c in range (1,i+1):
        
        a = a*c
    sum = sum + a
    
    
print(sum)

5
153

In [19]:
b = int(input("enter base "))
e = int(input("enter exponent "))
i = 1
p= 1
while i < e+1:
    p = p*b
    i = i+1
print(p)

enter base 2
enter exponent 5
32

In [23]:
n = 5
for i in range (1,6):
    c = i* "*"
    i= i+1
    print(c)

*
**
***
****
*****

In [28]:
n = 5
for i in range (5 , 0 ,-1):
    c = i* "*"
    i= i-1
    print(c)

*****
****
***
**
*

In [1]:
for i in range(5):
    for j in range (i+1):
        print("*", end = '')
    print()

*
**
***
****
*****

In [3]:

for i in range(5):
    for j in range (5-i):
        print("*", end = '')
    print()

*****
****
***
**
*

In [5]:
for i in range(5):
    for j in range(5-i):
        print(" ", end="")
    for k in range(i+1):
        print("*", end= "")
    print()

     *
    **
   ***
  ****
 *****

In [7]:
for i in range(5):
    for j in range(5-i):
        print(" ", end="")
    for k in range(i+1):
        print("* ", end= "")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

     *
    * *
   * * * *
  * * * * * * *
 * * * * * * * * * * *

In [27]:
for i in range(5):
    for j in range (i+1):
        print(j+1, end = '')
    print()

1
12
123
1234
12345

In [29]:
for i in range(5):
    for j in range (i+1):
        print(i+1, end = '')
    print()

1
22
333
4444
55555

In [31]:
for i in range(5):
    for j in range (i+1):
        print(5-i, end = '')
    print()

5
44
333
2222
11111

In [34]:
for i in range(5):
    for j in range (5-i):
        print(" ", end = "")
    for k in range(i+1):
        print(5-i, end="")
    print()

     5
    44
   333
  2222
 11111

In [38]:
num = 65
for i in range(5):
    for j in range (i+1):
        ch = chr(num)
        print(ch, end = '')
    num = num + 1
    print()

A
BB
CCC
DDDD
EEEEE

In [44]:

for i in range(5):
    num = 65
    for j in range (i+1):
        ch = chr(num)
        print(ch, end = '')
        num = num + 1
    
    print()

A
AB
ABC
ABCD
ABCDE