# Ex 1

In [1]:
t = (1,2,3,4,5)
l = list(t)
print (l)

[1, 2, 3, 4, 5]

In [2]:
l = [1, 2, 3, 4, 5]
t = tuple(l)
print(t)

(1, 2, 3, 4, 5)

# Ex 2

In [3]:
L = [1, 3, 5, 7]
T = (8, 6, 4, 2)
LS = L + list(T)
print(LS)

[1, 3, 5, 7, 8, 6, 4, 2]

In [6]:
LS1 = tuple(L) + T

In [7]:
print(LS1)

(1, 3, 5, 7, 8, 6, 4, 2)

# Ex 4

In [8]:
l = ['a', 'd', 'c', 'A', 'C']
l_reverse = l[::-1]
print(l_reverse)

['C', 'A', 'c', 'd', 'a']

# Ex 5

In [9]:
l = [10, 11, 20, 21, 30, 31, 40, 41]
l_odd = l[1::2]
print(l_odd)

[11, 21, 31, 41]

# Ex 7

In [10]:
n_list = ["Happy", [2,0,1,5]]
print(n_list[0][1])

a

In [11]:
print(n_list[1][3])

5

# ex 8

In [12]:
odd = [2,4,6,8]
odd[0] = 1
print(odd)

[1, 4, 6, 8]

In [13]:
odd[1:4] = [3, 5, 7]
print(odd)

[1, 3, 5, 7]

# Ex 9

In [14]:
odd = [1,3,5]

In [15]:
odd.append([7, 9])

In [16]:
odd

[1, 3, 5, [7, 9]]

In [17]:
odd.extend([11, 13])

In [18]:
odd

[1, 3, 5, [7, 9], 11, 13]

# Ex 11

In [20]:
for i in range(1, 10, 3):
    print(i, "  ", i+1, "  ", i+2)

1    2    3
4    5    6
7    8    9

# Ex 12

In [22]:
# t = tuple('string')

In [23]:
# t = ('s', 't', 'r', 'i', 'n', 'g')
# t[::-1] = ('g', 'n', 'i', 'r', 't', 's')
# t[::2][::-2] = ('n', 's')

In [24]:
t = tuple('string')

In [25]:
t

('s', 't', 'r', 'i', 'n', 'g')

In [26]:
t[::-1]

('g', 'n', 'i', 'r', 't', 's')

In [27]:
t[::2][::-2]

('n', 's')

In [28]:
help(t.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

# Ex 14

In [33]:
str = input("Enter a string: ")
str_rev = str[::-1]
if str == str_rev: 
    print(str, " is a palindrome")
else: 
      print(str, " is not a palindrome")

Enter a string: Arnab121banrA
Arnab121banrA  is a palindrome

# Ex 15

In [39]:
l = []
for i in range(20, 0, -5):
    l.append(i)
print(l)
t = tuple(l)
print(t)

[20, 15, 10, 5]
(20, 15, 10, 5)

In [40]:
str = "hello world"
l = list(str)
print(l)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']