### Description

**Airport**: The IATA airport code of the selected airport.  
**Terminal**: Terminal(s) associated with the airport selected.  
**Date**: Arrival Date(s) of flights associated with the airport/terminal/date range selected.  
**Hour**: Hour(s) of arriving flights during a 24 hour time period for the airport/terminal selected/date range selected.  
**U.S. Citizen Wait Times**:

    Average:The average wait time for all U.S. Citizen passengers on flights arriving in the one hour increment.
    Max:The highest wait time for all U.S. Citizen passengers on a flight arriving in the one hour increment.

**Non U.S. Citizen Wait Times**:

    Average:The average wait time for all Non U.S. Citizen passengers on flights arriving in the one hour increment.
    Max:The highest wait time for all Non U.S. Citizen passengers on a flight arriving in the one hour increment.

**Wait Times**:

    Average:The average wait time for all passengers on flights arriving in the one hour increment.
    Max:The highest wait time for any passenger on a flight arriving in the one hour increment.

**Number of Passengers Time Interval**:

    0-15:The actual number of passengers on flights which arrived in the selected hour who were processed in (0-15) minutes.
    16-30:The actual number of passengers on flights which arrived in the selected hour who were processed in (16-30) minutes.
    31-45:The actual number of passengers on flights which arrived in the selected hour who were processed in (31-45) minutes.
    46-60:The actual number of passengers on flights which arrived in the selected hour who were processed in (46-60) minutes.
    61-90:The actual number of passengers on flights which arrived in the selected hour who were processed in (61-90) minutes.
    91-120:The actual number of passengers on flights which arrived in the selected hour who were processed in (91-120) minutes.
    121Plus:The actual number of passengers on flights which arrived in the selected hour who were processed in (121 Plus) minutes.

**Excluded**:The actual number of passengers on flights which arrived in the selected hour who were excluded from wait time reporting.  
**Total**:Total number of passengers aboard arriving flights during the one hour increment.  
**Flights**:Number of flights arriving during the time period.  
**Booths**:Number of staffed primary inspection booths open to process flights which arrived during the selected hour.

### Problems
- read dataset and convert column headers to correct format (the first  4 rows are headers, but not all rows contain column names)
- check datatype of each column
- find out columns which have na values
- check if there are any unique values in first two columns
- based on above, are these two columns userful ?   
  
  
- drop the upper bound of  hour column Ex: replace  0100 - 0200 with 0100 ...
- check that hour values lie in range 0-2300 or not
- check if all hour values are present or not
- convert hour column from string type to datetime type. (If this doesn't work out easily, then first solve next problem)
- check that length of each hour value is 4, if  not, check why and fix it and then check again   
  
  
- convert Date column to datetime type
- check data types now
- replace Hours with only time part and Date column with only date part (both should  be converted to datetime type before this)
- check data types again
- merge date and hour column into a new column date_time (type of date_time should be datetime not str)

In [1]:
import pandas as pd

In [2]:


w = pd.read_excel('AWT.xls',header=[0,1,2,3])
w.columns[0]

('Airport', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2', 'Unnamed: 0_level_3')

In [3]:
# read dataset and convert column headers to correct format (the first 4 rows are headers, but not all rows contain column names)

idx  =[]
for col in w.columns:
    idx.append(' '.join(filter(lambda x: not ('Unnamed' in x or 'Passengers' in x ),col)))   
w.columns = idx
w.columns

Index(['Airport', 'Terminal', 'Date', 'Hour', 'U.S. Citizen Average Wait Time',
       'U.S. Citizen Max Wait Time', 'Non U.S. Citizen Average Wait Time',
       'Non U.S. Citizen Max Wait Time', 'All Wait Times Average Wait Time',
       'All Wait Times Max Wait Time', 'All 0-15', 'All 16-30', 'All 31-45',
       'All 46-60', 'All 61-90', 'All 91-120', 'All 120 plus', 'All Excluded',
       'All Total', 'All Flights', 'All Booths'],
      dtype='object')

In [4]:
# check datatype of each column
w.dtypes

Airport                               object
Terminal                              object
Date                                  object
Hour                                  object
U.S. Citizen Average Wait Time         int64
U.S. Citizen Max Wait Time             int64
Non U.S. Citizen Average Wait Time     int64
Non U.S. Citizen Max Wait Time         int64
All Wait Times Average Wait Time       int64
All Wait Times Max Wait Time           int64
All 0-15                               int64
All 16-30                              int64
All 31-45                              int64
All 46-60                              int64
All 61-90                              int64
All 91-120                             int64
All 120 plus                           int64
All Excluded                           int64
All Total                              int64
All Flights                            int64
All Booths                             int64
dtype: object

In [5]:
# find out columns which have na values
w.isnull().any().any()

False

In [6]:
# check if there are any unique values in first two columns
w[['Airport','Terminal']].nunique()

Airport     1
Terminal    1
dtype: int64

# based on above, are these two columns userful ?
- The Above columns are not useful since the airport is a unique item and it is invariant .Also Terminal is 5 for every days

In [7]:
# drop the upper bound of hour column Ex: replace 0100 - 0200 with 0100 ...

w['Hour'] =w['Hour'].str.split('-').str[0].str.strip()
w['Hour'].str.len()

0       4
1       4
2       4
3       4
4       4
       ..
6699    4
6700    4
6701    4
6702    4
6703    4
Name: Hour, Length: 6704, dtype: int64

In [8]:
# check that hour values lie in range 0-2300 or not
w['Hour'].astype('int32').between(0,2300).all()

True

In [9]:
# check if all hour values are present or not
w['Hour'].value_counts()

1400    365
1500    365
1900    365
1800    365
1300    365
1600    364
1700    364
1200    360
1100    359
1000    353
0800    347
0000    331
2300    329
0600    318
0900    316
2000    292
0700    248
2200    219
0500    200
2100    194
0400    159
0100     80
0200     24
0300     22
Name: Hour, dtype: int64

In [10]:

#convert hour column from string type to datetime type. (If this doesn't work out easily, then first solve next problem)
# check that length of each hour value is 4, if not, check why and fix it and then check again

In [11]:
print(w['Hour'].str.len().value_counts())
w.shape[0]

4    6704
Name: Hour, dtype: int64

6704

In [30]:


w['Date'] = pd.to_datetime(w['Date'])
w['Date']

0      2017-01-01
1      2017-01-01
2      2017-01-01
3      2017-01-01
4      2017-01-01
          ...
6699   2017-12-31
6700   2017-12-31
6701   2017-12-31
6702   2017-12-31
6703   2017-12-31
Name: Date, Length: 6704, dtype: datetime64[ns]

In [31]:
w['Hour']=pd.to_datetime(w['Hour'], format='%H%M')
w['Hour']

0      1900-01-01 03:00:00
1      1900-01-01 04:00:00
2      1900-01-01 06:00:00
3      1900-01-01 07:00:00
4      1900-01-01 08:00:00
               ...
6699   1900-01-01 18:00:00
6700   1900-01-01 19:00:00
6701   1900-01-01 20:00:00
6702   1900-01-01 21:00:00
6703   1900-01-01 23:00:00
Name: Hour, Length: 6704, dtype: datetime64[ns]

In [13]:
w['Hour'].dtype

dtype('<M8[ns]')

In [14]:
w['Hour'].head()

0   1900-01-01 03:00:00
1   1900-01-01 04:00:00
2   1900-01-01 06:00:00
3   1900-01-01 07:00:00
4   1900-01-01 08:00:00
Name: Hour, dtype: datetime64[ns]

In [22]:
# check data types now
w.dtypes

Airport                                       object
Terminal                                      object
Date                                  datetime64[ns]
Hour                                  datetime64[ns]
U.S. Citizen Average Wait Time                 int64
U.S. Citizen Max Wait Time                     int64
Non U.S. Citizen Average Wait Time             int64
Non U.S. Citizen Max Wait Time                 int64
All Wait Times Average Wait Time               int64
All Wait Times Max Wait Time                   int64
All 0-15                                       int64
All 16-30                                      int64
All 31-45                                      int64
All 46-60                                      int64
All 61-90                                      int64
All 91-120                                     int64
All 120 plus                                   int64
All Excluded                                   int64
All Total                                      int64
All Flights                                    int64
All Booths                                     int64
dtype: object

In [ ]:
# replace Hours with only time part and Date column with only date part 
#(both should be converted to datetime type before this)

In [23]:
w[['Hour','Date']].dtypes

Hour    datetime64[ns]
Date    datetime64[ns]
dtype: object

In [25]:
w['Hour'].head()

0   1900-01-01 03:00:00
1   1900-01-01 04:00:00
2   1900-01-01 06:00:00
3   1900-01-01 07:00:00
4   1900-01-01 08:00:00
Name: Hour, dtype: datetime64[ns]

In [26]:
print(dir(w['Hour'].dt))

['__annotations__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_accessors', '_add_delegate_accessors', '_constructor', '_delegate_method', '_delegate_property_get', '_delegate_property_set', '_deprecations', '_dir_additions', '_dir_deletions', '_freeze', '_get_values', '_reset_cache', 'ceil', 'date', 'day', 'day_name', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'floor', 'freq', 'hour', 'is_leap_year', 'is_month_end', 'is_month_start', 'is_quarter_end', 'is_quarter_start', 'is_year_end', 'is_year_start', 'microsecond', 'minute', 'month', 'month_name', 'nanosecond', 'normalize', 'quarter', 'round', 'second', 'strftime', 'time', 'timetz', 'to_period', 'to_pydatetime', 'tz', 'tz_convert', 'tz_localize', 'week', 'weekday', 'weekofyear', 'year']

In [32]:
w['Hour']= w['Hour'].dt.time
w['Date']=w['Date'].dt.date

In [36]:
print(w['Hour'].head())
print()
print(w['Date'].head())

0    03:00:00
1    04:00:00
2    06:00:00
3    07:00:00
4    08:00:00
Name: Hour, dtype: object

0    2017-01-01
1    2017-01-01
2    2017-01-01
3    2017-01-01
4    2017-01-01
Name: Date, dtype: object

In [38]:
# check data types again
w.dtypes

Airport                               object
Terminal                              object
Date                                  object
Hour                                  object
U.S. Citizen Average Wait Time         int64
U.S. Citizen Max Wait Time             int64
Non U.S. Citizen Average Wait Time     int64
Non U.S. Citizen Max Wait Time         int64
All Wait Times Average Wait Time       int64
All Wait Times Max Wait Time           int64
All 0-15                               int64
All 16-30                              int64
All 31-45                              int64
All 46-60                              int64
All 61-90                              int64
All 91-120                             int64
All 120 plus                           int64
All Excluded                           int64
All Total                              int64
All Flights                            int64
All Booths                             int64
dtype: object

In [43]:
# merge date and hour column into a new column date_time 
# (type of date_time should be datetime not str)

w['date_time'] = w['Hour'].astype('str')+ ' '+w['Date'].astype('str')
w['date_time']

0       03:00:00 2017-01-01
1       04:00:00 2017-01-01
2       06:00:00 2017-01-01
3       07:00:00 2017-01-01
4       08:00:00 2017-01-01
               ...
6699    18:00:00 2017-12-31
6700    19:00:00 2017-12-31
6701    20:00:00 2017-12-31
6702    21:00:00 2017-12-31
6703    23:00:00 2017-12-31
Name: date_time, Length: 6704, dtype: object

In [44]:
w

,Airport,Terminal,Date,Hour,U.S. Citizen Average Wait Time,U.S. Citizen Max Wait Time,Non U.S. Citizen Average Wait Time,Non U.S. Citizen Max Wait Time,All Wait Times Average Wait Time,All Wait Times Max Wait Time,...,All 31-45,All 46-60,All 61-90,All 91-120,All 120 plus,All Excluded,All Total,All Flights,All Booths,date_time
0,ORD,Terminal 5,2017-01-01,03:00:00,0,0,0,0,0,0,...,0,0,0,0,0,7,7,1,0,03:00:00 2017-01-01
1,ORD,Terminal 5,2017-01-01,04:00:00,18,51,28,51,20,51,...,60,8,0,0,0,13,362,3,10,04:00:00 2017-01-01
2,ORD,Terminal 5,2017-01-01,06:00:00,11,49,27,49,20,49,...,64,19,0,0,0,10,328,1,10,06:00:00 2017-01-01
3,ORD,Terminal 5,2017-01-01,07:00:00,7,24,12,26,10,26,...,0,0,0,0,0,10,370,2,12,07:00:00 2017-01-01
4,ORD,Terminal 5,2017-01-01,08:00:00,5,25,13,37,10,37,...,16,0,0,0,0,11,446,2,12,08:00:00 2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6699,ORD,Terminal 5,2017-12-31,18:00:00,16,47,16,48,16,48,...,148,9,0,0,0,56,1405,9,17,18:00:00 2017-12-31
6700,ORD,Terminal 5,2017-12-31,19:00:00,7,23,9,23,7,23,...,0,0,0,0,0,10,284,1,19,19:00:00 2017-12-31
6701,ORD,Terminal 5,2017-12-31,20:00:00,7,18,8,18,7,18,...,0,0,0,0,0,15,427,2,14,20:00:00 2017-12-31
6702,ORD,Terminal 5,2017-12-31,21:00:00,28,39,31,39,28,39,...,38,0,0,0,0,6,167,1,3,21:00:00 2017-12-31
6703,ORD,Terminal 5,2017-12-31,23:00:00,7,25,11,25,8,25,...,0,0,0,0,0,18,451,3,8,23:00:00 2017-12-31