### Description

**Airport**: The IATA airport code of the selected airport.  
**Terminal**: Terminal(s) associated with the airport selected.  
**Date**: Arrival Date(s) of flights associated with the airport/terminal/date range selected.  
**Hour**: Hour(s) of arriving flights during a 24 hour time period for the airport/terminal selected/date range selected.  
**U.S. Citizen Wait Times**:

    Average:The average wait time for all U.S. Citizen passengers on flights arriving in the one hour increment.
    Max:The highest wait time for all U.S. Citizen passengers on a flight arriving in the one hour increment.

**Non U.S. Citizen Wait Times**:

    Average:The average wait time for all Non U.S. Citizen passengers on flights arriving in the one hour increment.
    Max:The highest wait time for all Non U.S. Citizen passengers on a flight arriving in the one hour increment.

**Wait Times**:

    Average:The average wait time for all passengers on flights arriving in the one hour increment.
    Max:The highest wait time for any passenger on a flight arriving in the one hour increment.

**Number of Passengers Time Interval**:

    0-15:The actual number of passengers on flights which arrived in the selected hour who were processed in (0-15) minutes.
    16-30:The actual number of passengers on flights which arrived in the selected hour who were processed in (16-30) minutes.
    31-45:The actual number of passengers on flights which arrived in the selected hour who were processed in (31-45) minutes.
    46-60:The actual number of passengers on flights which arrived in the selected hour who were processed in (46-60) minutes.
    61-90:The actual number of passengers on flights which arrived in the selected hour who were processed in (61-90) minutes.
    91-120:The actual number of passengers on flights which arrived in the selected hour who were processed in (91-120) minutes.
    121Plus:The actual number of passengers on flights which arrived in the selected hour who were processed in (121 Plus) minutes.

**Excluded**:The actual number of passengers on flights which arrived in the selected hour who were excluded from wait time reporting.  
**Total**:Total number of passengers aboard arriving flights during the one hour increment.  
**Flights**:Number of flights arriving during the time period.  
**Booths**:Number of staffed primary inspection booths open to process flights which arrived during the selected hour.

### Problems
- read dataset and convert column headers to correct format (the first  4 rows are headers, but not all rows contain column names)
- check datatype of each column
- find out columns which have na values
- check if there are any unique values in first two columns
- based on above, are these two columns userful ?   
  
  
- drop the upper bound of  hour column
  Ex: replace  0100 - 0200 with 0100 ...
- check that hour values lie in range 0-2300 or not
- check if all hour values are present or not
- convert hour column from string type to datetime type. (If this doesn't work out easily, then first solve next problem)
- check that length of each hour value is 4, if  not, check why and fix it and then check again   
  
  
- convert Date column to datetime type
- check data types now
- replace Hours with only time part and Date column with only date part (both should  be converted to datetime type before this)
- check data types again
- merge date and hour column into a new column date_time (type of date_time should be datetime not str)

In [3]:
import pandas as  pd

In [5]:
df=pd.read_excel("AWT.xls",header=[0,1,2,3])
df=df.rename(columns=lambda x:x if not 'Unnamed' in str(x) else '')
print(df.head())

  Airport    Terminal                 Date         Hour U.S. Citizen           \

                                                        Average Wait Max Wait
                                                                Time     Time
0     ORD  Terminal 5  2017-01-01 00:00:00  0300 - 0400            0        0
1     ORD  Terminal 5  2017-01-01 00:00:00  0400 - 0500           18       51
2     ORD  Terminal 5  2017-01-01 00:00:00  0600 - 0700           11       49
3     ORD  Terminal 5  2017-01-01 00:00:00  0700 - 0800            7       24
4     ORD  Terminal 5  2017-01-01 00:00:00  0800 - 0900            5       25

  Non U.S. Citizen                   All           ...  \
                              Wait Times           ...
      Average Wait Max Wait Average Wait Max Wait  ...
              Time     Time         Time     Time  ...
0                0        0            0        0  ...
1               28       51           20       51  ...
2               27       49           20       49  ...
3               12       26           10       26  ...
4               13       37           10       37  ...

                                                                        \
  Number Of Passengers Time Interval
                               16-30 31-45 46-60 61-90 91-120 120 plus

0                                  0     0     0     0      0        0
1                                160    60     8     0      0        0
2                                 81    64    19     0      0        0
3                                 88     0     0     0      0        0
4                                121    16     0     0      0        0



  Excluded Total Flights Booths

0        7     7       1      0
1       13   362       3     10
2       10   328       1     10
3       10   370       2     12
4       11   446       2     12

[5 rows x 21 columns]

In [6]:
df.describe()

      U.S. Citizen              Non U.S. Citizen                       All  \
                                                                Wait Times
      Average Wait     Max Wait     Average Wait     Max Wait Average Wait
              Time         Time             Time         Time         Time
count  6704.000000  6704.000000      6704.000000  6704.000000  6704.000000
mean     10.112023    39.609785        18.868138    45.394093    14.725835
std       5.149429    22.038420        12.069886    26.026429     8.022813
min       0.000000     0.000000         0.000000     0.000000     0.000000
25%       7.000000    24.000000        11.000000    27.000000     9.000000
50%       9.000000    36.000000        16.000000    40.000000    13.000000
75%      13.000000    50.000000        23.000000    58.000000    18.000000
max      50.000000   224.000000       123.000000   238.000000    72.000000

                                                                    \
                   Number Of Passengers Time Interval
          Max Wait                               0-15        16-30
              Time
count  6704.000000                        6704.000000  6704.000000
mean     45.777297                         446.628132   188.541319
std      25.909143                         368.122457   189.480444
min       0.000000                           0.000000     0.000000
25%      27.000000                         152.000000    50.000000
50%      40.000000                         314.000000   115.000000
75%      58.000000                         679.000000   284.000000
max     238.000000                        2149.000000  1185.000000

                                                                        \

             31-45        46-60        61-90       91-120     120 plus

count  6704.000000  6704.000000  6704.000000  6704.000000  6704.000000
mean     64.831891    23.587560    15.607249     3.391259     1.371569
std      87.940154    48.405223    49.678977    21.043836    18.757374
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%      32.000000     0.000000     0.000000     0.000000     0.000000
75%      93.000000    25.000000     0.000000     0.000000     0.000000
max     883.000000   504.000000   621.000000   395.000000   660.000000



          Excluded        Total      Flights       Booths

count  6704.000000  6704.000000  6704.000000  6704.000000
mean     30.066826   774.029087     4.182578    16.258353
std      27.193117   645.342703     3.157096     7.850218
min       0.000000     6.000000     1.000000     0.000000
25%       8.000000   250.000000     2.000000    10.000000
50%      20.000000   546.000000     3.000000    15.000000
75%      46.000000  1176.000000     6.000000    23.000000
max     275.000000  3779.000000    17.000000    40.000000

In [26]:
df=pd.read_excel("AWT.xls",header=[3])
print(df.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Time',
       'Time.1', 'Time.2', 'Time.3', 'Time.4', 'Time.5', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [6]:
print(type(df['Terminal']))
df['Terminal']

<class 'pandas.core.frame.DataFrame'>

     Unnamed: 1_level_1
     Unnamed: 1_level_2
     Unnamed: 1_level_3
0            Terminal 5
1            Terminal 5
2            Terminal 5
3            Terminal 5
4            Terminal 5
...                 ...
6699         Terminal 5
6700         Terminal 5
6701         Terminal 5
6702         Terminal 5
6703         Terminal 5

[6704 rows x 1 columns]

In [7]:
df['U.S. Citizen']

     Unnamed: 4_level_1 Unnamed: 5_level_1
           Average Wait           Max Wait
                   Time               Time
0                     0                  0
1                    18                 51
2                    11                 49
3                     7                 24
4                     5                 25
...                 ...                ...
6699                 16                 47
6700                  7                 23
6701                  7                 18
6702                 28                 39
6703                  7                 25

[6704 rows x 2 columns]

In [27]:
df=pd.read_excel("AWT.xls",header=[0,1,2,3])
for col in df.columns:
    print(col)
    
print()

for col in df.columns:
    print(' '.join(filter(lambda x: not x.startswith("Unnamed"), col)))

('Airport', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2', 'Unnamed: 0_level_3')
('Terminal', 'Unnamed: 1_level_1', 'Unnamed: 1_level_2', 'Unnamed: 1_level_3')
('Date', 'Unnamed: 2_level_1', 'Unnamed: 2_level_2', 'Unnamed: 2_level_3')
('Hour', 'Unnamed: 3_level_1', 'Unnamed: 3_level_2', 'Unnamed: 3_level_3')
('U.S. Citizen', 'Unnamed: 4_level_1', 'Average Wait', 'Time')
('U.S. Citizen', 'Unnamed: 5_level_1', 'Max Wait', 'Time')
('Non U.S. Citizen', 'Unnamed: 6_level_1', 'Average Wait', 'Time')
('Non U.S. Citizen', 'Unnamed: 7_level_1', 'Max Wait', 'Time')
('All', 'Wait Times', 'Average Wait', 'Time')
('All', 'Wait Times', 'Max Wait', 'Time')
('All', 'Number Of Passengers Time Interval', '0-15', 'Unnamed: 10_level_3')
('All', 'Number Of Passengers Time Interval', '16-30', 'Unnamed: 11_level_3')
('All', 'Number Of Passengers Time Interval', '31-45', 'Unnamed: 12_level_3')
('All', 'Number Of Passengers Time Interval', '46-60', 'Unnamed: 13_level_3')
('All', 'Number Of Passengers Time Interval', '61-90', 'Unnamed: 14_level_3')
('All', 'Number Of Passengers Time Interval', '91-120', 'Unnamed: 15_level_3')
('All', 'Number Of Passengers Time Interval', '120 plus', 'Unnamed: 16_level_3')
('All', 'Number Of Passengers Time Interval', 'Excluded', 'Unnamed: 17_level_3')
('All', 'Number Of Passengers Time Interval', 'Total', 'Unnamed: 18_level_3')
('All', 'Number Of Passengers Time Interval', 'Flights', 'Unnamed: 19_level_3')
('All', 'Number Of Passengers Time Interval', 'Booths', 'Unnamed: 20_level_3')

Airport
Terminal
Date
Hour
U.S. Citizen Average Wait Time
U.S. Citizen Max Wait Time
Non U.S. Citizen Average Wait Time
Non U.S. Citizen Max Wait Time
All Wait Times Average Wait Time
All Wait Times Max Wait Time
All Number Of Passengers Time Interval 0-15
All Number Of Passengers Time Interval 16-30
All Number Of Passengers Time Interval 31-45
All Number Of Passengers Time Interval 46-60
All Number Of Passengers Time Interval 61-90
All Number Of Passengers Time Interval 91-120
All Number Of Passengers Time Interval 120 plus
All Number Of Passengers Time Interval Excluded
All Number Of Passengers Time Interval Total
All Number Of Passengers Time Interval Flights
All Number Of Passengers Time Interval Booths

In [29]:
print(dir(df.columns))
print(df.columns.to_flat_index())

['T', '__abs__', '__add__', '__and__', '__array__', '__array_priority__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getslice__', '__gt__', '__hash__', '__iadd__', '__init__', '__init_subclass__', '__inv__', '__isub__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_add_comparison_methods', '_add_logical_methods', '_add_logical_methods_disabled', '_add_numeric_methods', '_add_numeric_methods_add_sub_disabled', '_add_numeric_methods_binary', '_add_numeric_methods_disabled', '_add_numeric_methods_unary', '_assert_can_do_op', '_assert_can_do_setop', '_assert_take_fillable', '_attributes', '_can_hold_identifiers_and_holds_name', '_can_hold_na', '_can_reindex', '_cleanup', '_codes', '_coerce_scalar_to_index', '_coerce_to_ndarray', '_comparables', '_concat', '_concat_same_dtype', '_constructor', '_convert_arr_indexer', '_convert_can_do_setop', '_convert_for_op', '_convert_index_indexer', '_convert_list_indexer', '_convert_listlike_indexer', '_convert_scalar_indexer', '_convert_slice_indexer', '_convert_tolerance', '_data', '_defer_to_indexing', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_from_level', '_engine', '_engine_type', '_evaluate_with_datetime_like', '_evaluate_with_timedelta_like', '_filter_indexer_tolerance', '_format_attrs', '_format_data', '_format_native_types', '_format_space', '_format_with_header', '_formatter_func', '_get_attributes_dict', '_get_codes_for_sorting', '_get_fill_indexer', '_get_fill_indexer_searchsorted', '_get_grouper_for_level', '_get_level_indexer', '_get_level_number', '_get_level_values', '_get_names', '_get_nearest_indexer', '_get_reconciled_name_object', '_get_string_slice', '_get_unique_index', '_has_complex_internals', '_hashed_indexing_key', '_hashed_values', '_have_mixed_levels', '_id', '_infer_as_myclass', '_inferred_type_levels', '_inner_indexer', '_internal_get_values', '_invalid_indexer', '_is_compatible_with_other', '_is_homogeneous_type', '_is_memory_usage_qualified', '_is_numeric_dtype', '_is_strictly_monotonic_decreasing', '_is_strictly_monotonic_increasing', '_isnan', '_join_level', '_join_monotonic', '_join_multi', '_join_non_unique', '_join_precedence', '_left_indexer', '_left_indexer_unique', '_levels', '_map_values', '_maybe_cast_indexer', '_maybe_cast_slice_bound', '_maybe_promote', '_maybe_update_attributes', '_mpl_repr', '_na_value', '_names', '_nan_idxs', '_nbytes', '_ndarray_values', '_outer_indexer', '_partial_tup_index', '_reduce', '_reindex_non_unique', '_reset_cache', '_reset_identity', '_scalar_data_error', '_searchsorted_monotonic', '_set_codes', '_set_levels', '_set_names', '_shallow_copy', '_shallow_copy_with_infer', '_simple_new', '_sort_levels_monotonic', '_string_data_error', '_summary', '_supports_partial_string_indexing', '_to_safe_for_reshape', '_try_convert_to_int_index', '_tuples', '_typ', '_union', '_union_incompatible_dtypes', '_unpickle_compat', '_update_inplace', '_validate_codes', '_validate_for_numeric_binop', '_validate_for_numeric_unaryop', '_validate_index_level', '_validate_indexer', '_validate_names', '_validate_sort_keyword', '_values', '_verify_integrity', '_wrap_joined_index', '_wrap_setop_result', 'all', 'any', 'append', 'argmax', 'argmin', 'argsort', 'array', 'asi8', 'asof', 'asof_locs', 'astype', 'codes', 'contains', 'copy', 'delete', 'difference', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtype_str', 'duplicated', 'empty', 'equal_levels', 'equals', 'factorize', 'fillna', 'format', 'from_arrays', 'from_frame', 'from_product', 'from_tuples', 'get_duplicates', 'get_indexer', 'get_indexer_for', 'get_indexer_non_unique', 'get_level_values', 'get_loc', 'get_loc_level', 'get_locs', 'get_slice_bound', 'get_value', 'get_values', 'groupby', 'has_duplicates', 'hasnans', 'holds_integer', 'identical', 'inferred_type', 'insert', 'intersection', 'is_', 'is_all_dates', 'is_boolean', 'is_categorical', 'is_floating', 'is_integer', 'is_interval', 'is_lexsorted', 'is_lexsorted_for_tuple', 'is_mixed', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_numeric', 'is_object', 'is_type_compatible', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'join', 'labels', 'levels', 'levshape', 'lexsort_depth', 'map', 'max', 'memory_usage', 'min', 'name', 'names', 'nbytes', 'ndim', 'nlevels', 'notna', 'notnull', 'nunique', 'putmask', 'ravel', 'reindex', 'remove_unused_levels', 'rename', 'reorder_levels', 'repeat', 'searchsorted', 'set_codes', 'set_labels', 'set_levels', 'set_names', 'set_value', 'shape', 'shift', 'size', 'slice_indexer', 'slice_locs', 'sort', 'sort_values', 'sortlevel', 'summary', 'swaplevel', 'symmetric_difference', 'take', 'to_flat_index', 'to_frame', 'to_hierarchical', 'to_list', 'to_native_types', 'to_numpy', 'to_series', 'transpose', 'truncate', 'union', 'unique', 'value_counts', 'values', 'view', 'where']
Index([   ('Airport', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2', 'Unnamed: 0_level_3'),
         ('Terminal', 'Unnamed: 1_level_1', 'Unnamed: 1_level_2', 'Unnamed: 1_level_3'),
             ('Date', 'Unnamed: 2_level_1', 'Unnamed: 2_level_2', 'Unnamed: 2_level_3'),
             ('Hour', 'Unnamed: 3_level_1', 'Unnamed: 3_level_2', 'Unnamed: 3_level_3'),
                         ('U.S. Citizen', 'Unnamed: 4_level_1', 'Average Wait', 'Time'),
                             ('U.S. Citizen', 'Unnamed: 5_level_1', 'Max Wait', 'Time'),
                     ('Non U.S. Citizen', 'Unnamed: 6_level_1', 'Average Wait', 'Time'),
                         ('Non U.S. Citizen', 'Unnamed: 7_level_1', 'Max Wait', 'Time'),
                                          ('All', 'Wait Times', 'Average Wait', 'Time'),
                                              ('All', 'Wait Times', 'Max Wait', 'Time'),
           ('All', 'Number Of Passengers Time Interval', '0-15', 'Unnamed: 10_level_3'),
          ('All', 'Number Of Passengers Time Interval', '16-30', 'Unnamed: 11_level_3'),
          ('All', 'Number Of Passengers Time Interval', '31-45', 'Unnamed: 12_level_3'),
          ('All', 'Number Of Passengers Time Interval', '46-60', 'Unnamed: 13_level_3'),
          ('All', 'Number Of Passengers Time Interval', '61-90', 'Unnamed: 14_level_3'),
         ('All', 'Number Of Passengers Time Interval', '91-120', 'Unnamed: 15_level_3'),
       ('All', 'Number Of Passengers Time Interval', '120 plus', 'Unnamed: 16_level_3'),
       ('All', 'Number Of Passengers Time Interval', 'Excluded', 'Unnamed: 17_level_3'),
          ('All', 'Number Of Passengers Time Interval', 'Total', 'Unnamed: 18_level_3'),
        ('All', 'Number Of Passengers Time Interval', 'Flights', 'Unnamed: 19_level_3'),
         ('All', 'Number Of Passengers Time Interval', 'Booths', 'Unnamed: 20_level_3')],
      dtype='object')

In [7]:
df=pd.read_excel("AWT.xls",header=[0,1,2,3])
idx = []
for col in df.columns:
    idx.append(' '.join(filter(lambda x: not (x.startswith("Unnamed") or "Passengers" in x), col)))
    
df.columns = idx
print(idx)

['Airport', 'Terminal', 'Date', 'Hour', 'U.S. Citizen Average Wait Time', 'U.S. Citizen Max Wait Time', 'Non U.S. Citizen Average Wait Time', 'Non U.S. Citizen Max Wait Time', 'All Wait Times Average Wait Time', 'All Wait Times Max Wait Time', 'All 0-15', 'All 16-30', 'All 31-45', 'All 46-60', 'All 61-90', 'All 91-120', 'All 120 plus', 'All Excluded', 'All Total', 'All Flights', 'All Booths']

In [14]:
desc = df.describe(include='all')
desc

,Airport,Terminal,Date,Hour,U.S. Citizen Average Wait Time,U.S. Citizen Max Wait Time,Non U.S. Citizen Average Wait Time,Non U.S. Citizen Max Wait Time,All Wait Times Average Wait Time,All Wait Times Max Wait Time,...,All 16-30,All 31-45,All 46-60,All 61-90,All 91-120,All 120 plus,All Excluded,All Total,All Flights,All Booths
count,6704,6704,6704,6704,6704.000000,6704.000000,6704.000000,6704.000000,6704.000000,6704.000000,...,6704.000000,6704.000000,6704.000000,6704.000000,6704.000000,6704.000000,6704.000000,6704.000000,6704.000000,6704.000000
unique,1,1,365,24,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,ORD,Terminal 5,11/18/2017,1300 - 1400,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,6704,6704,23,365,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,10.112023,39.609785,18.868138,45.394093,14.725835,45.777297,...,188.541319,64.831891,23.587560,15.607249,3.391259,1.371569,30.066826,774.029087,4.182578,16.258353
std,NaN,NaN,NaN,NaN,5.149429,22.038420,12.069886,26.026429,8.022813,25.909143,...,189.480444,87.940154,48.405223,49.678977,21.043836,18.757374,27.193117,645.342703,3.157096,7.850218
min,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,1.000000,0.000000
25%,NaN,NaN,NaN,NaN,7.000000,24.000000,11.000000,27.000000,9.000000,27.000000,...,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,250.000000,2.000000,10.000000
50%,NaN,NaN,NaN,NaN,9.000000,36.000000,16.000000,40.000000,13.000000,40.000000,...,115.000000,32.000000,0.000000,0.000000,0.000000,0.000000,20.000000,546.000000,3.000000,15.000000
75%,NaN,NaN,NaN,NaN,13.000000,50.000000,23.000000,58.000000,18.000000,58.000000,...,284.000000,93.000000,25.000000,0.000000,0.000000,0.000000,46.000000,1176.000000,6.000000,23.000000
max,NaN,NaN,NaN,NaN,50.000000,224.000000,123.000000,238.000000,72.000000,238.000000,...,1185.000000,883.000000,504.000000,621.000000,395.000000,660.000000,275.000000,3779.000000,17.000000,40.000000

In [16]:
print(type(desc))
desc.Airport

<class 'pandas.core.frame.DataFrame'>

count     6704
unique       1
top        ORD
freq      6704
mean       NaN
std        NaN
min        NaN
25%        NaN
50%        NaN
75%        NaN
max        NaN
Name: Airport, dtype: object

In [18]:
desc.loc['unique']
desc.iloc[1]

Airport                                 1
Terminal                                1
Date                                  365
Hour                                   24
U.S. Citizen Average Wait Time        NaN
U.S. Citizen Max Wait Time            NaN
Non U.S. Citizen Average Wait Time    NaN
Non U.S. Citizen Max Wait Time        NaN
All Wait Times Average Wait Time      NaN
All Wait Times Max Wait Time          NaN
All 0-15                              NaN
All 16-30                             NaN
All 31-45                             NaN
All 46-60                             NaN
All 61-90                             NaN
All 91-120                            NaN
All 120 plus                          NaN
All Excluded                          NaN
All Total                             NaN
All Flights                           NaN
All Booths                            NaN
Name: unique, dtype: object

In [41]:
print(df.columns)

Index(['Airport', 'Terminal', 'Date', 'Hour', 'U.S. Citizen Average Wait Time',
       'U.S. Citizen Max Wait Time', 'Non U.S. Citizen Average Wait Time',
       'Non U.S. Citizen Max Wait Time', 'All Wait Times Average Wait Time',
       'All Wait Times Max Wait Time', 'All 0-15', 'All 16-30', 'All 31-45',
       'All 46-60', 'All 61-90', 'All 91-120', 'All 120 plus', 'All Excluded',
       'All Total', 'All Flights', 'All Booths'],
      dtype='object')

In [44]:
print(df.head())

  Airport    Terminal                 Date         Hour  \
0     ORD  Terminal 5  2017-01-01 00:00:00  0300 - 0400
1     ORD  Terminal 5  2017-01-01 00:00:00  0400 - 0500
2     ORD  Terminal 5  2017-01-01 00:00:00  0600 - 0700
3     ORD  Terminal 5  2017-01-01 00:00:00  0700 - 0800
4     ORD  Terminal 5  2017-01-01 00:00:00  0800 - 0900

   U.S. Citizen Average Wait Time  U.S. Citizen Max Wait Time  \
0                               0                           0
1                              18                          51
2                              11                          49
3                               7                          24
4                               5                          25

   Non U.S. Citizen Average Wait Time  Non U.S. Citizen Max Wait Time  \
0                                   0                               0
1                                  28                              51
2                                  27                              49
3                                  12                              26
4                                  13                              37

   All Wait Times Average Wait Time  All Wait Times Max Wait Time  ...  \
0                                 0                             0  ...
1                                20                            51  ...
2                                20                            49  ...
3                                10                            26  ...
4                                10                            37  ...

   All 16-30  All 31-45  All 46-60  All 61-90  All 91-120  All 120 plus  \
0          0          0          0          0           0             0
1        160         60          8          0           0             0
2         81         64         19          0           0             0
3         88          0          0          0           0             0
4        121         16          0          0           0             0

   All Excluded  All Total  All Flights  All Booths
0             7          7            1           0
1            13        362            3          10
2            10        328            1          10
3            10        370            2          12
4            11        446            2          12

[5 rows x 21 columns]

In [43]:
df['All 61-90']

0       0
1       0
2       0
3       0
4       0
       ..
6699    0
6700    0
6701    0
6702    0
6703    0
Name: All 61-90, Length: 6704, dtype: int64

In [ ]:
inx = ["terminal", ".." , ..... ]

In [25]:
print(df.head())

  Airport    Terminal                 Date         Hour  \
0     ORD  Terminal 5  2017-01-01 00:00:00  0300 - 0400
1     ORD  Terminal 5  2017-01-01 00:00:00  0400 - 0500
2     ORD  Terminal 5  2017-01-01 00:00:00  0600 - 0700
3     ORD  Terminal 5  2017-01-01 00:00:00  0700 - 0800
4     ORD  Terminal 5  2017-01-01 00:00:00  0800 - 0900

   U.S. Citizen Average Wait Time  U.S. Citizen Max Wait Time  \
0                               0                           0
1                              18                          51
2                              11                          49
3                               7                          24
4                               5                          25

   Non U.S. Citizen Average Wait Time  Non U.S. Citizen Max Wait Time  \
0                                   0                               0
1                                  28                              51
2                                  27                              49
3                                  12                              26
4                                  13                              37

   All Wait Times Average Wait Time  All Wait Times Max Wait Time  ...  \
0                                 0                             0  ...
1                                20                            51  ...
2                                20                            49  ...
3                                10                            26  ...
4                                10                            37  ...

   All Number Of Passengers Time Interval 16-30  \
0                                             0
1                                           160
2                                            81
3                                            88
4                                           121

   All Number Of Passengers Time Interval 31-45  \
0                                             0
1                                            60
2                                            64
3                                             0
4                                            16

   All Number Of Passengers Time Interval 46-60  \
0                                             0
1                                             8
2                                            19
3                                             0
4                                             0

   All Number Of Passengers Time Interval 61-90  \
0                                             0
1                                             0
2                                             0
3                                             0
4                                             0

   All Number Of Passengers Time Interval 91-120  \
0                                              0
1                                              0
2                                              0
3                                              0
4                                              0

   All Number Of Passengers Time Interval 120 plus  \
0                                                0
1                                                0
2                                                0
3                                                0
4                                                0

   All Number Of Passengers Time Interval Excluded  \
0                                                7
1                                               13
2                                               10
3                                               10
4                                               11

   All Number Of Passengers Time Interval Total  \
0                                             7
1                                           362
2                                           328
3                                           370
4                                           446

   All Number Of Passengers Time Interval Flights  \
0                                               1
1                                               3
2                                               1
3                                               2
4                                               2

   All Number Of Passengers Time Interval Booths
0                                              0
1                                             10
2                                             10
3                                             12
4                                             12

[5 rows x 21 columns]

In [31]:
print(df.columns.get_level_values(0))

Index(['Airport', 'Terminal', 'Date', 'Hour', 'U.S. Citizen', 'U.S. Citizen',
       'Non U.S. Citizen', 'Non U.S. Citizen', 'All', 'All', 'All', 'All',
       'All', 'All', 'All', 'All', 'All', 'All', 'All', 'All', 'All'],
      dtype='object')

In [36]:
col_bkp = df.columns

df.columns = df.columns.set_levels (['Airport1', 'Terminal1', 'Date1', 'Hour1', 'U.S. Citizen1_0', 'U.S. Citizen1_1',
       'Non U.S. Citizen1_0', 'Non U.S. Citizen1_1', 'All1_0', 'All1_1', 'All1_2', 'All1_3',
       'All1_4', 'All1_5', 'All1_6', 'All1_7', 'All1_8', 'All1_9', 'All1_10', 'All1_11', 'All1_12'], level = 1)
print(df.head())

             Airport           Terminal                 Date  \
           Terminal1              Date1                Hour1
  Unnamed: 0_level_2 Unnamed: 1_level_2   Unnamed: 2_level_2
  Unnamed: 0_level_3 Unnamed: 1_level_3   Unnamed: 2_level_3
0                ORD         Terminal 5  2017-01-01 00:00:00
1                ORD         Terminal 5  2017-01-01 00:00:00
2                ORD         Terminal 5  2017-01-01 00:00:00
3                ORD         Terminal 5  2017-01-01 00:00:00
4                ORD         Terminal 5  2017-01-01 00:00:00

                Hour    U.S. Citizen                        Non U.S. Citizen  \
     U.S. Citizen1_0 U.S. Citizen1_1 Non U.S. Citizen1_0 Non U.S. Citizen1_1
  Unnamed: 3_level_2    Average Wait            Max Wait        Average Wait
  Unnamed: 3_level_3            Time                Time                Time
0        0300 - 0400               0                   0                   0
1        0400 - 0500              18                  51                  28
2        0600 - 0700              11                  49                  27
3        0700 - 0800               7                  24                  12
4        0800 - 0900               5                  25                  13

                    All           ...                                          \
    All1_0       All1_1           ...            Airport1
  Max Wait Average Wait Max Wait  ...               16-30               31-45
      Time         Time     Time  ... Unnamed: 11_level_3 Unnamed: 12_level_3
0        0            0        0  ...                   0                   0
1       51           20       51  ...                 160                  60
2       49           20       49  ...                  81                  64
3       26           10       26  ...                  88                   0
4       37           10       37  ...                 121                  16

                                                               \

                46-60               61-90              91-120
  Unnamed: 13_level_3 Unnamed: 14_level_3 Unnamed: 15_level_3
0                   0                   0                   0
1                   8                   0                   0
2                  19                   0                   0
3                   0                   0                   0
4                   0                   0                   0

                                                               \

             120 plus            Excluded               Total
  Unnamed: 16_level_3 Unnamed: 17_level_3 Unnamed: 18_level_3
0                   0                   7                   7
1                   0                  13                 362
2                   0                  10                 328
3                   0                  10                 370
4                   0                  11                 446



              Flights              Booths
  Unnamed: 19_level_3 Unnamed: 20_level_3
0                   1                   0
1                   3                  10
2                   1                  10
3                   2                  12
4                   2                  12

[5 rows x 21 columns]

In [ ]:
dfs=dfs.drop([0,2])
for i in range(7,21):
    new=dfs.iloc[0,i]
    print(new)
    another=dfs.columns[i]
    dfs.rename(columns={another:new},inplace=True)
    
    print(another)
dfs=dfs.drop(1)

In [46]:
import sqlite3 as sq

In [47]:
conn = sq.connect('temp.db')

In [50]:
df = pd.read_sql('select * from test', conn)

In [51]:
print(df)

    A        B
0  10     abcd
1  20  pqrrrrr

### read dataset and convert column headers to correct format (the first 4 rows are headers, but not all rows contain column names)

In [19]:
df=pd.read_excel("AWT.xls",header=[0,1,2,3])
idx = []
for col in df.columns:
    idx.append(' '.join(filter(lambda x: not (x.startswith("Unnamed") or "Passengers" in x), col)))
    
df.columns = idx
print(idx)

['Airport', 'Terminal', 'Date', 'Hour', 'U.S. Citizen Average Wait Time', 'U.S. Citizen Max Wait Time', 'Non U.S. Citizen Average Wait Time', 'Non U.S. Citizen Max Wait Time', 'All Wait Times Average Wait Time', 'All Wait Times Max Wait Time', 'All 0-15', 'All 16-30', 'All 31-45', 'All 46-60', 'All 61-90', 'All 91-120', 'All 120 plus', 'All Excluded', 'All Total', 'All Flights', 'All Booths']

In [20]:
df.head()

,Airport,Terminal,Date,Hour,U.S. Citizen Average Wait Time,U.S. Citizen Max Wait Time,Non U.S. Citizen Average Wait Time,Non U.S. Citizen Max Wait Time,All Wait Times Average Wait Time,All Wait Times Max Wait Time,...,All 16-30,All 31-45,All 46-60,All 61-90,All 91-120,All 120 plus,All Excluded,All Total,All Flights,All Booths
0,ORD,Terminal 5,2017-01-01 00:00:00,0300 - 0400,0,0,0,0,0,0,...,0,0,0,0,0,0,7,7,1,0
1,ORD,Terminal 5,2017-01-01 00:00:00,0400 - 0500,18,51,28,51,20,51,...,160,60,8,0,0,0,13,362,3,10
2,ORD,Terminal 5,2017-01-01 00:00:00,0600 - 0700,11,49,27,49,20,49,...,81,64,19,0,0,0,10,328,1,10
3,ORD,Terminal 5,2017-01-01 00:00:00,0700 - 0800,7,24,12,26,10,26,...,88,0,0,0,0,0,10,370,2,12
4,ORD,Terminal 5,2017-01-01 00:00:00,0800 - 0900,5,25,13,37,10,37,...,121,16,0,0,0,0,11,446,2,12

In [21]:
# check datatype of each column
df.dtypes

Airport                               object
Terminal                              object
Date                                  object
Hour                                  object
U.S. Citizen Average Wait Time         int64
U.S. Citizen Max Wait Time             int64
Non U.S. Citizen Average Wait Time     int64
Non U.S. Citizen Max Wait Time         int64
All Wait Times Average Wait Time       int64
All Wait Times Max Wait Time           int64
All 0-15                               int64
All 16-30                              int64
All 31-45                              int64
All 46-60                              int64
All 61-90                              int64
All 91-120                             int64
All 120 plus                           int64
All Excluded                           int64
All Total                              int64
All Flights                            int64
All Booths                             int64
dtype: object

In [29]:
c = pd.to_datetime(pd.Series(['2020-10-11', '2020-10-22']), format="%Y-%m-%d")
print(c, type(c))
print(c.dtype)

0   2020-10-11
1   2020-10-22
dtype: datetime64[ns] <class 'pandas.core.series.Series'>
datetime64[ns]

In [32]:
df.Date = pd.to_datetime(df.Date)
df.dtypes

Airport                                       object
Terminal                                      object
Date                                  datetime64[ns]
Hour                                          object
U.S. Citizen Average Wait Time                 int64
U.S. Citizen Max Wait Time                     int64
Non U.S. Citizen Average Wait Time             int64
Non U.S. Citizen Max Wait Time                 int64
All Wait Times Average Wait Time               int64
All Wait Times Max Wait Time                   int64
All 0-15                                       int64
All 16-30                                      int64
All 31-45                                      int64
All 46-60                                      int64
All 61-90                                      int64
All 91-120                                     int64
All 120 plus                                   int64
All Excluded                                   int64
All Total                                      int64
All Flights                                    int64
All Booths                                     int64
dtype: object

In [ ]:
df['month'] = df.Date.dt.month

In [34]:
df.Date.dt.date

0       2017-01-01
1       2017-01-01
2       2017-01-01
3       2017-01-01
4       2017-01-01
           ...
6699    2017-12-31
6700    2017-12-31
6701    2017-12-31
6702    2017-12-31
6703    2017-12-31
Name: Date, Length: 6704, dtype: object

In [35]:
df.Date.dt.time

0       00:00:00
1       00:00:00
2       00:00:00
3       00:00:00
4       00:00:00
          ...
6699    00:00:00
6700    00:00:00
6701    00:00:00
6702    00:00:00
6703    00:00:00
Name: Date, Length: 6704, dtype: object

###  check if all hour values are present or not

In [ ]:
print()

In [37]:
df.Hour = df['Hour'].str.split('-').str[0]

In [39]:
print(df.head())
print(df.dtypes)

  Airport    Terminal       Date   Hour  U.S. Citizen Average Wait Time  \
0     ORD  Terminal 5 2017-01-01  0300                                0
1     ORD  Terminal 5 2017-01-01  0400                               18
2     ORD  Terminal 5 2017-01-01  0600                               11
3     ORD  Terminal 5 2017-01-01  0700                                7
4     ORD  Terminal 5 2017-01-01  0800                                5

   U.S. Citizen Max Wait Time  Non U.S. Citizen Average Wait Time  \
0                           0                                   0
1                          51                                  28
2                          49                                  27
3                          24                                  12
4                          25                                  13

   Non U.S. Citizen Max Wait Time  All Wait Times Average Wait Time  \
0                               0                                 0
1                              51                                20
2                              49                                20
3                              26                                10
4                              37                                10

   All Wait Times Max Wait Time  ...  All 16-30  All 31-45  All 46-60  \
0                             0  ...          0          0          0
1                            51  ...        160         60          8
2                            49  ...         81         64         19
3                            26  ...         88          0          0
4                            37  ...        121         16          0

   All 61-90  All 91-120  All 120 plus  All Excluded  All Total  All Flights  \
0          0           0             0             7          7            1
1          0           0             0            13        362            3
2          0           0             0            10        328            1
3          0           0             0            10        370            2
4          0           0             0            11        446            2

   All Booths
0           0
1          10
2          10
3          12
4          12

[5 rows x 21 columns]
Airport                                       object
Terminal                                      object
Date                                  datetime64[ns]
Hour                                          object
U.S. Citizen Average Wait Time                 int64
U.S. Citizen Max Wait Time                     int64
Non U.S. Citizen Average Wait Time             int64
Non U.S. Citizen Max Wait Time                 int64
All Wait Times Average Wait Time               int64
All Wait Times Max Wait Time                   int64
All 0-15                                       int64
All 16-30                                      int64
All 31-45                                      int64
All 46-60                                      int64
All 61-90                                      int64
All 91-120                                     int64
All 120 plus                                   int64
All Excluded                                   int64
All Total                                      int64
All Flights                                    int64
All Booths                                     int64
dtype: object

### check that hour values lie in range 0-2300 or not

In [41]:
df['Hour'].astype("int32").between(0, 2300).all()

True

In [42]:
df.Hour.str.len()

0       5
1       5
2       5
3       5
4       5
       ..
6699    5
6700    5
6701    5
6702    5
6703    5
Name: Hour, Length: 6704, dtype: int64

In [43]:
df.Hour = df.Hour.str.strip()

In [45]:
df.Hour.str.len().between(4,4).all()

True

In [46]:
df['Hour']=pd.to_datetime(df['Hour'], format='%H%M')

In [47]:
print(df.Hour.head())

0   1900-01-01 03:00:00
1   1900-01-01 04:00:00
2   1900-01-01 06:00:00
3   1900-01-01 07:00:00
4   1900-01-01 08:00:00
Name: Hour, dtype: datetime64[ns]

In [48]:
print(df.dtypes)
df.Date = df.Date.dt.date
df.Hour = df.Hour.dt.time
print(df.dtypes)

Airport                                       object
Terminal                                      object
Date                                  datetime64[ns]
Hour                                  datetime64[ns]
U.S. Citizen Average Wait Time                 int64
U.S. Citizen Max Wait Time                     int64
Non U.S. Citizen Average Wait Time             int64
Non U.S. Citizen Max Wait Time                 int64
All Wait Times Average Wait Time               int64
All Wait Times Max Wait Time                   int64
All 0-15                                       int64
All 16-30                                      int64
All 31-45                                      int64
All 46-60                                      int64
All 61-90                                      int64
All 91-120                                     int64
All 120 plus                                   int64
All Excluded                                   int64
All Total                                      int64
All Flights                                    int64
All Booths                                     int64
dtype: object
Airport                               object
Terminal                              object
Date                                  object
Hour                                  object
U.S. Citizen Average Wait Time         int64
U.S. Citizen Max Wait Time             int64
Non U.S. Citizen Average Wait Time     int64
Non U.S. Citizen Max Wait Time         int64
All Wait Times Average Wait Time       int64
All Wait Times Max Wait Time           int64
All 0-15                               int64
All 16-30                              int64
All 31-45                              int64
All 46-60                              int64
All 61-90                              int64
All 91-120                             int64
All 120 plus                           int64
All Excluded                           int64
All Total                              int64
All Flights                            int64
All Booths                             int64
dtype: object

In [50]:
df.Hour

0       03:00:00
1       04:00:00
2       06:00:00
3       07:00:00
4       08:00:00
          ...
6699    18:00:00
6700    19:00:00
6701    20:00:00
6702    21:00:00
6703    23:00:00
Name: Hour, Length: 6704, dtype: object

In [ ]:
df['date_time']=df['Date'].astype('str').str.cat(df['Hour'].astype('str'), sep =" ") 
df['date_time'] = pd.to_datetime(df['date_time'])

In [51]:
df['date_time']= df['Date'].astype('str')  + " " + df['Hour'].astype('str')
df['date_time'] = pd.to_datetime(df['date_time'])
print(df.dtypes)
print(df.head())

Airport                                       object
Terminal                                      object
Date                                          object
Hour                                          object
U.S. Citizen Average Wait Time                 int64
U.S. Citizen Max Wait Time                     int64
Non U.S. Citizen Average Wait Time             int64
Non U.S. Citizen Max Wait Time                 int64
All Wait Times Average Wait Time               int64
All Wait Times Max Wait Time                   int64
All 0-15                                       int64
All 16-30                                      int64
All 31-45                                      int64
All 46-60                                      int64
All 61-90                                      int64
All 91-120                                     int64
All 120 plus                                   int64
All Excluded                                   int64
All Total                                      int64
All Flights                                    int64
All Booths                                     int64
date_time                             datetime64[ns]
dtype: object
  Airport    Terminal        Date      Hour  U.S. Citizen Average Wait Time  \
0     ORD  Terminal 5  2017-01-01  03:00:00                               0
1     ORD  Terminal 5  2017-01-01  04:00:00                              18
2     ORD  Terminal 5  2017-01-01  06:00:00                              11
3     ORD  Terminal 5  2017-01-01  07:00:00                               7
4     ORD  Terminal 5  2017-01-01  08:00:00                               5

   U.S. Citizen Max Wait Time  Non U.S. Citizen Average Wait Time  \
0                           0                                   0
1                          51                                  28
2                          49                                  27
3                          24                                  12
4                          25                                  13

   Non U.S. Citizen Max Wait Time  All Wait Times Average Wait Time  \
0                               0                                 0
1                              51                                20
2                              49                                20
3                              26                                10
4                              37                                10

   All Wait Times Max Wait Time  ...  All 31-45  All 46-60  All 61-90  \
0                             0  ...          0          0          0
1                            51  ...         60          8          0
2                            49  ...         64         19          0
3                            26  ...          0          0          0
4                            37  ...         16          0          0

   All 91-120  All 120 plus  All Excluded  All Total  All Flights  All Booths  \
0           0             0             7          7            1           0
1           0             0            13        362            3          10
2           0             0            10        328            1          10
3           0             0            10        370            2          12
4           0             0            11        446            2          12

            date_time
0 2017-01-01 03:00:00
1 2017-01-01 04:00:00
2 2017-01-01 06:00:00
3 2017-01-01 07:00:00
4 2017-01-01 08:00:00

[5 rows x 22 columns]

In [60]:
pd.to_datetime(["11:22", "11 22"],format="%H:%M")

ValueError: time data '11 22' does not match format '%H:%M' (match)