In [1]:
import pandas as pd

In [10]:
idx = pd.MultiIndex.from_tuples([('a', 1),('a',2),('b',1),('b',3),('c',1)], names=["idx1", "idx2"])

In [12]:
df =  pd.DataFrame( {
        'A' : [10,20,30,40,50],
        'B' : [11,22,33,44,55],
        'C' : [1,  2, 1, 2, 3],
}, index=idx)
print(df)

            A   B  C
idx1 idx2
a    1     10  11  1
     2     20  22  2
b    1     30  33  1
     3     40  44  2
c    1     50  55  3

In [14]:
df.unstack(level='idx1')

         A                 B                C
idx1     a     b     c     a     b     c    a    b    c
idx2
1     10.0  30.0  50.0  11.0  33.0  55.0  1.0  1.0  3.0
2     20.0   NaN   NaN  22.0   NaN   NaN  2.0  NaN  NaN
3      NaN  40.0   NaN   NaN  44.0   NaN  NaN  2.0  NaN

In [15]:
df.unstack(level='idx2')

         A                 B                C
idx2     1     2     3     1     2     3    1    2    3
idx1
a     10.0  20.0   NaN  11.0  22.0   NaN  1.0  2.0  NaN
b     30.0   NaN  40.0  33.0   NaN  44.0  1.0  NaN  2.0
c     50.0   NaN   NaN  55.0   NaN   NaN  3.0  NaN  NaN

In [16]:
s =  pd.Series( [10,20,30,40,50], index=idx)
print(s)

idx1  idx2
a     1       10
      2       20
b     1       30
      3       40
c     1       50
dtype: int64

In [18]:
# Index values can be non-unique in pandas
idx = pd.MultiIndex.from_tuples([('a', 1),('a',2),('b',1),('b',3),('a',1)], names=["idx1", "idx2"])
df =  pd.DataFrame( {
        'A' : [10,20,30,40,50],
        'B' : [11,22,33,44,55],
        'C' : [1,  2, 1, 2, 3],
}, index=idx)
print(df)

            A   B  C
idx1 idx2
a    1     10  11  1
     2     20  22  2
b    1     30  33  1
     3     40  44  2
a    1     50  55  3

In [17]:
s.unstack()

idx2     1     2     3
idx1
a     10.0  20.0   NaN
b     30.0   NaN  40.0
c     50.0   NaN   NaN

In [ ]:
pd.pivot_table()

In [5]:
# unstack : break down row index to columns
# stack   : convert column as row indexes

0  A    10
   B    11
   C     1
1  A    20
   B    22
   C     2
2  A    30
   B    33
   C     1
3  A    40
   B    44
   C     2
4  A    50
   B    55
   C     3
dtype: int64

In [19]:
s = "abcd"
s.upper()

'ABCD'

In [25]:
df =  pd.DataFrame( {
        'A' : [10,20,30,40,50],
        'B' : ["abc", 'AB','12', "abcd", '-'],
         1  : [1,  2, 1, 2, 3],
})
print(df)

    A     B  1
0  10   abc  1
1  20    AB  2
2  30    12  1
3  40  abcd  2
4  50     -  3

In [26]:
df.B.str.upper()

0     ABC
1      AB
2      12
3    ABCD
4       -
Name: B, dtype: object

In [ ]:
df.B.dt.

In [27]:
df.columns.str.lower()

Index(['a', 'b', nan], dtype='object')

In [31]:

idx = pd.Int64Index([1,2,3,4])
print(idx)

idx.str

Int64Index([1, 2, 3, 4], dtype='int64')

AttributeError: Can only use .str accessor with string values!