In [1]:
import numpy as np
import pandas as pd

In [7]:
f = lambda x: [print("\nGot arg:\n", x),x][1]
#lambda x: x

r = f(10)
print("r", r)

Got arg:
 10
r 10

In [67]:
a =  ["abcd", 10, "10"]
print(a)
print(repr(a))
print(str(a))

print()
print("10")
print(str("10"))
print(repr("10"))

['abcd', 10, '10']
['abcd', 10, '10']
['abcd', 10, '10']

10
10
'10'

In [3]:
df  = pd.DataFrame(np.arange(12).reshape(3,4))
print(df)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [8]:
df.apply(f)

Got arg:
 0    0
1    4
2    8
Name: 0, dtype: int64

Got arg:
 0    0
1    4
2    8
Name: 0, dtype: int64

Got arg:
 0    1
1    5
2    9
Name: 1, dtype: int64

Got arg:
 0     2
1     6
2    10
Name: 2, dtype: int64

Got arg:
 0     3
1     7
2    11
Name: 3, dtype: int64

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [9]:
df.applymap(f)

Got arg:
 0

Got arg:
 4

Got arg:
 8

Got arg:
 0

Got arg:
 4

Got arg:
 8

Got arg:
 1

Got arg:
 5

Got arg:
 9

Got arg:
 2

Got arg:
 6

Got arg:
 10

Got arg:
 3

Got arg:
 7

Got arg:
 11

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
df.transform()

In [13]:
df[0].map(f)

Got arg:
 0

Got arg:
 4

Got arg:
 8

0    0
1    4
2    8
Name: 0, dtype: int64

In [15]:
df[0] = df[0].astype('str')

In [19]:
print(dir(df[0].str))

['__annotations__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__frozen', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_doc_args', '_freeze', '_get_series_list', '_inferred_dtype', '_is_categorical', '_is_string', '_make_accessor', '_orig', '_parent', '_validate', '_wrap_result', 'capitalize', 'casefold', 'cat', 'center', 'contains', 'count', 'decode', 'encode', 'endswith', 'extract', 'extractall', 'find', 'findall', 'get', 'get_dummies', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'islower', 'isnumeric', 'isspace', 'istitle', 'isupper', 'join', 'len', 'ljust', 'lower', 'lstrip', 'match', 'normalize', 'pad', 'partition', 'repeat', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'slice', 'slice_replace', 'split', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'wrap', 'zfill']

In [21]:
df[0].str.isdigit()

0    True
1    True
2    True
Name: 0, dtype: bool

In [23]:
df[0]

0    0
1    4
2    8
Name: 0, dtype: object

In [26]:
df[0].str.contains(r'\d')

0    True
1    True
2    True
Name: 0, dtype: bool

In [27]:
print(help(df[0].str.contains))

Help on method contains in module pandas.core.strings:

contains(pat, case=True, flags=0, na=nan, regex=True) method of pandas.core.strings.StringMethods instance
    Test if pattern or regex is contained within a string of a Series or Index.

    Return boolean Series or Index based on whether a given pattern or regex is
    contained within a string of a Series or Index.

    Parameters
    ----------
    pat : str
        Character sequence or regular expression.
    case : bool, default True
        If True, case sensitive.
    flags : int, default 0 (no flags)
        Flags to pass through to the re module, e.g. re.IGNORECASE.
    na : default NaN
        Fill value for missing values.
    regex : bool, default True
        If True, assumes the pat is a regular expression.

        If False, treats the pat as a literal string.

    Returns
    -------
    Series or Index of boolean values
        A Series or Index of boolean values indicating whether the
        given pattern is contained within the string of each element
        of the Series or Index.

    See Also
    --------
    match : Analogous, but stricter, relying on re.match instead of re.search.
    Series.str.startswith : Test if the start of each string element matches a
        pattern.
    Series.str.endswith : Same as startswith, but tests the end of string.

    Examples
    --------

    Returning a Series of booleans using only a literal pattern.

    >>> s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])
    >>> s1.str.contains('og', regex=False)
    0    False
    1     True
    2    False
    3    False
    4      NaN
    dtype: object

    Returning an Index of booleans using only a literal pattern.

    >>> ind = pd.Index(['Mouse', 'dog', 'house and parrot', '23.0', np.NaN])
    >>> ind.str.contains('23', regex=False)
    Index([False, False, False, True, nan], dtype='object')

    Specifying case sensitivity using `case`.

    >>> s1.str.contains('oG', case=True, regex=True)
    0    False
    1    False
    2    False
    3    False
    4      NaN
    dtype: object

    Specifying `na` to be `False` instead of `NaN` replaces NaN values
    with `False`. If Series or Index does not contain NaN values
    the resultant dtype will be `bool`, otherwise, an `object` dtype.

    >>> s1.str.contains('og', na=False, regex=True)
    0    False
    1     True
    2    False
    3    False
    4    False
    dtype: bool

    Returning 'house' or 'dog' when either expression occurs in a string.

    >>> s1.str.contains('house|dog', regex=True)
    0    False
    1     True
    2     True
    3    False
    4      NaN
    dtype: object

    Ignoring case sensitivity using `flags` with regex.

    >>> import re
    >>> s1.str.contains('PARROT', flags=re.IGNORECASE, regex=True)
    0    False
    1    False
    2     True
    3    False
    4      NaN
    dtype: object

    Returning any digit using regular expression.

    >>> s1.str.contains('\d', regex=True)
    0    False
    1    False
    2    False
    3     True
    4      NaN
    dtype: object

    Ensure `pat` is a not a literal pattern when `regex` is set to True.
    Note in the following example one might expect only `s2[1]` and `s2[3]` to
    return `True`. However, '.0' as a regex matches any character
    followed by a 0.

    >>> s2 = pd.Series(['40', '40.0', '41', '41.0', '35'])
    >>> s2.str.contains('.0', regex=True)
    0     True
    1     True
    2    False
    3     True
    4    False
    dtype: bool

None

In [ ]:
df["Gender"] = df["Gender"].astype("category")

# Regex

In [28]:
# check if string starts with the number 1
s = "123abcd"

s.startswith("1")

True

In [ ]:
# check if string starts with a digit or not
s = "123abcd"

# s.startswith("1") or s.startswith("2")...

In [29]:
import re

In [30]:
print(dir(re))

['A', 'ASCII', 'DEBUG', 'DOTALL', 'I', 'IGNORECASE', 'L', 'LOCALE', 'M', 'MULTILINE', 'Match', 'Pattern', 'RegexFlag', 'S', 'Scanner', 'T', 'TEMPLATE', 'U', 'UNICODE', 'VERBOSE', 'X', '_MAXCACHE', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_cache', '_compile', '_compile_repl', '_expand', '_locale', '_pickle', '_special_chars_map', '_subx', 'compile', 'copyreg', 'enum', 'error', 'escape', 'findall', 'finditer', 'fullmatch', 'functools', 'match', 'purge', 'search', 'split', 'sre_compile', 'sre_parse', 'sub', 'subn', 'template']

In [33]:
s = "123abcd"
r = re.match("1", s)
print(r)

# matches only start of string
r = re.match("2", s)
print(r)

<re.Match object; span=(0, 1), match='1'>
None

In [35]:
s = "223abcd"
r = re.match("1", s)
print(r)

None

In [ ]:
# search : find mattern match anywhere in the string

In [34]:
s = "123abcd"
r = re.search("1", s)
print(r)

r = re.search("2", s)
print(r)

<re.Match object; span=(0, 1), match='1'>
<re.Match object; span=(1, 2), match='2'>

In [ ]:
# \d => one digit

In [36]:
# check if string starts with a digit or not
patts = ["123abcd", "abc123d",  "  123", "43abc12"]

for p in patts:
    r = re.match("\d", p)
    print(repr(p),  r)

'123abcd' <re.Match object; span=(0, 1), match='1'>
'abcd' None
'  123' None
'43abc12' <re.Match object; span=(0, 1), match='4'>

In [37]:
# check if string contains a digit or not
patts = ["123abcd", "abc123d", "ABCD", "  123", "43abc12"]

for p in patts:
    r = re.search("\d", p)
    print(repr(p),  r)

'123abcd' <re.Match object; span=(0, 1), match='1'>
'abc123d' <re.Match object; span=(3, 4), match='1'>
'ABCD' None
'  123' <re.Match object; span=(2, 3), match='1'>
'43abc12' <re.Match object; span=(0, 1), match='4'>

In [38]:
# check if string contains 2 digits in sequecnce
patts = ["1abcd", "123", "ab43", "  1 2 3", "43abc12"]

for p in patts:
    r = re.search("\d\d", p)
    print(repr(p),  r)

'1abcd' None
'123' <re.Match object; span=(0, 2), match='12'>
'ab43' <re.Match object; span=(2, 4), match='43'>
'  1 2 3' None
'43abc12' <re.Match object; span=(0, 2), match='43'>

In [ ]:
# Anchor tags
# $ => end of string
# ^ => start of string

In [43]:
# check if string ends with a digit or not
patts = ["123abcd", "abc123d",  "  123", "43abc12", "1", "22"]

for p in patts:
    r = re.search("\d$", p)
    print(repr(p),  r)
    
print()
for p in patts:
    r = re.match("\d$", p)
    print(repr(p),  r)

'123abcd' None
'abc123d' None
'  123' <re.Match object; span=(4, 5), match='3'>
'43abc12' <re.Match object; span=(6, 7), match='2'>
'1' <re.Match object; span=(0, 1), match='1'>
'22' <re.Match object; span=(1, 2), match='2'>

'123abcd' None
'abc123d' None
'  123' None
'43abc12' None
'1' <re.Match object; span=(0, 1), match='1'>
'22' None

In [46]:
# check if string ends with a digit or not
patts = ["123abcd", "abc123d",  "  123", "43abc12", "1", "22"]

for p in patts:
    r = re.search("^\d\d$", p)
    print(repr(p),  r)

'123abcd' None
'abc123d' None
'  123' None
'43abc12' None
'1' None
'22' <re.Match object; span=(0, 2), match='22'>

In [48]:
# check if string with 2 consecutive digits
patts = ["123abcd", "abc123d",  "  123", "43abc12", "1", "22"]

for p in patts:
    r = re.search("\d\d", p)
    print(repr(p),  r)

'123abcd' <re.Match object; span=(0, 2), match='12'>
'abc123d' <re.Match object; span=(3, 5), match='12'>
'  123' <re.Match object; span=(2, 4), match='12'>
'43abc12' <re.Match object; span=(0, 2), match='43'>
'1' None
'22' <re.Match object; span=(0, 2), match='22'>

In [49]:
# findall: gives all matches in a string
s = "43abc12"

r = re.findall("\d\d", s)
print(r)

['43', '12']

In [51]:
patts = ["123abcd", "abc123d",  "  123", "43abc12", "1", "22"]

for p in patts:
    r = re.findall("\d\d", p)
    print(repr(p),  r)

'123abcd' ['12']
'abc123d' ['12']
'  123' ['12']
'43abc12' ['43', '12']
'1' []
'22' ['22']

In [56]:
# finditer: iterator of matches
s = "43abc12"

r = re.finditer("\d\d", s)
for m in r:
    print(m, m.group())

<re.Match object; span=(0, 2), match='43'> 43
<re.Match object; span=(5, 7), match='12'> 12

In [ ]:
# check if string contains only digits. And the number should be a 2-digit number
patts = ["1abcd", "123", "ab43", "  1 2 3", "43abc12"]

for p in patts:
    r = re.search(r"\d\d", p)
    print(repr(p),  r)

In [57]:
# \d => digit: exactly one
# \D => not digit
# \w => alpha numeric symbol
# \W => not alpha numeric
# \s => white space
# \S => not a  white space

In [ ]:
p = "^\d\d\d$"

"123"  y
"abc123" n
"123abc" n
"1234" n

In [64]:
# Find all string which contain the word 'the' anywhere
val = ["this is a stirng",
      "The string",
      "the string againg",
      "nothing",
      "ends with the"]

for v in val:
    print("%20s" % v, re.search(r"the", v))
    
print()
for v in val:
    print("%20s" % v, re.search(r"the", v, re.IGNORECASE|re.DOTALL)) # sending multiple  flags using | operator

    this is a stirng None
          The string None
   the string againg <re.Match object; span=(0, 3), match='the'>
             nothing None
       ends with the <re.Match object; span=(10, 13), match='the'>

    this is a stirng None
          The string <re.Match object; span=(0, 3), match='The'>
   the string againg <re.Match object; span=(0, 3), match='the'>
             nothing None
       ends with the <re.Match object; span=(10, 13), match='the'>

In [70]:
# . : wildcard=> matches any one character

# 4 character long strings
# Find all string which contain the word 'the' anywhere
val = ["this",
      "The string",
      "1234",
      "nothing",
      "12ab",
      "  ab",
      "ab  cdd",
      "ab",]

for v in val:
    print("%20s" % v, re.search(r"....", v))

                this <re.Match object; span=(0, 4), match='this'>
          The string <re.Match object; span=(0, 4), match='The '>
                1234 <re.Match object; span=(0, 4), match='1234'>
             nothing <re.Match object; span=(0, 4), match='noth'>
                12ab <re.Match object; span=(0, 4), match='12ab'>
                  ab <re.Match object; span=(0, 4), match='  ab'>
             ab  cdd <re.Match object; span=(0, 4), match='ab  '>
                  ab None

In [71]:
# find all strings which contain either the word 'this' or 'that'
# |  => or  operator for regex
val = ["this",
      "The string",
      "that",
      "nothing",
      "12ab",
      "  ab",
      "that this"]

for v in val:
    print("%20s" % v, re.search(r"this|that", v))

                this <re.Match object; span=(0, 4), match='this'>
          The string None
                that <re.Match object; span=(0, 4), match='that'>
             nothing None
                12ab None
                  ab None
           that this <re.Match object; span=(0, 4), match='that'>

In [72]:
val = ["this",
      "The string",
      "that",
      "nothing",
      "12ab",
      "  ab",
      "that this"]

for v in val:
    print("%20s" % v, re.search(r"th..", v))

                this <re.Match object; span=(0, 4), match='this'>
          The string None
                that <re.Match object; span=(0, 4), match='that'>
             nothing <re.Match object; span=(2, 6), match='thin'>
                12ab None
                  ab None
           that this <re.Match object; span=(0, 4), match='that'>

In [79]:
# repeition symbols
# * : repeat previous thing 0-n
# + : repat 1-n
# ? : 0 / 1 time only

# find string that start with 'the' and end with a '.' symbol
val = ["this",
      "the string.",
      "The.",
      "the 12344 ...",
      "12ab",
      "the.  ab",
      "that this"]

for v in val:
    print("%20s" % v, re.search(r"^the.*\.$", v, re.IGNORECASE)) # '.*' any no of time; '\.$' end with dot

                this None
         the string. <re.Match object; span=(0, 11), match='the string.'>
                The. <re.Match object; span=(0, 4), match='The.'>
       the 12344 ... <re.Match object; span=(0, 13), match='the 12344 ...'>
                12ab None
            the.  ab None
           that this None

In [80]:
# exact repetitions
# {m,n}
# {5} => exactly 5 repetition
# {2,} => atleast 2 rep
# {,5} => atmost 5 rep
# {2,5} => min 2 and max  rep

In [81]:
# find numbers with exactly 4 digits anywhere in string
val = ["12222",
      "the 23str34ing.",
      "1234",
      "123",
      "12ab1234456 1234"]

for v in val:
    print("%20s" % v, re.search(r"\d{4}", v, re.IGNORECASE))

               12222 <re.Match object; span=(0, 4), match='1222'>
     the 23str34ing. None
                1234 <re.Match object; span=(0, 4), match='1234'>
                 123 None
    12ab1234456 1234 <re.Match object; span=(4, 8), match='1234'>

In [85]:
# find 2-5 digit numbers
val = ["1234567",
      "the 23str34ing.",
      "123445",
      "ab123.",
      "12ab1234456 1234",
      "ab",
      "a1abcd"]

for v in val:
    print("%20s" % v, re.search(r"\d{2,5}", v, re.IGNORECASE))

             1234567 <re.Match object; span=(0, 5), match='12345'>
     the 23str34ing. <re.Match object; span=(4, 6), match='23'>
              123445 <re.Match object; span=(0, 5), match='12344'>
              ab123. <re.Match object; span=(2, 5), match='123'>
    12ab1234456 1234 <re.Match object; span=(0, 2), match='12'>
                  ab None
              a1abcd None

In [88]:
# find 2-5 digit numbers
val = ["1234567",
      "the 23str34ing.",
      "123445",
      "ab123.",
      "12ab1234456 1234",
      "ab",
      "a1abcd",
      " 123 "]

for v in val:
    print("%20s" % v, re.search(r"\D\d{2,5}\D", v, re.IGNORECASE))

             1234567 None
     the 23str34ing. <re.Match object; span=(3, 7), match=' 23s'>
              123445 None
              ab123. <re.Match object; span=(1, 6), match='b123.'>
    12ab1234456 1234 None
                  ab None
              a1abcd None
                123  <re.Match object; span=(0, 5), match=' 123 '>

In [93]:
# find 2-5 digit numbers
val = ["1234567",
       "123",
      " 123 ",
      "ab123.."]

for v in val:
    print("%20s" % v, re.search(r"(^|\D)\d{2,5}($|\D)", v, re.IGNORECASE))

             1234567 None
                 123 <re.Match object; span=(0, 3), match='123'>
                123  <re.Match object; span=(0, 5), match=' 123 '>
             ab123.. <re.Match object; span=(1, 6), match='b123.'>

In [96]:
# ? : when used in () allows ignoring
# find 2-5 digit numbers
val = ["1234567",
       "123",
      " 123 ",
      "ab123.."]

for v in val:
    m = re.search(r"(^|\D)(\d{2,5})($|\D)", v, re.IGNORECASE)
    print("%20s" % v, m)
    if m:
        print(m.group(), m.groups())
    print()

             1234567 None

                 123 <re.Match object; span=(0, 3), match='123'>
123 ('', '123', '')

                123  <re.Match object; span=(0, 5), match=' 123 '>
 123  (' ', '123', ' ')

             ab123.. <re.Match object; span=(1, 6), match='b123.'>
b123. ('b', '123', '.')

In [100]:
# \b : word boundary: matches the usual separators used in sentences and ^, $ as well
# \b doesn't capture the symbol it matches
# find 2-5 digit numbers
val = ["1234567",
       "123",
      " 123 ",
      "ab123..",
      "ab 123."]

for v in val:
    print("%20s" % v, re.search(r"\b\d{2,5}\b", v, re.IGNORECASE))

             1234567 None
                 123 <re.Match object; span=(0, 3), match='123'>
                123  <re.Match object; span=(1, 4), match='123'>
             ab123.. None
             ab 123. <re.Match object; span=(3, 6), match='123'>

In [ ]:
# search set
# [] : [a-z] ,[abc], [aApq,$%], [A-Z0-5a-p#$]
# [^] : [^a-z] => match anything apart from small alphabets

In [104]:
# sentences that end with .,? or !

s = "sentence ."
p = r".*[.?!]$"

print(re.search(p, s))
print(re.search(r"[.?!]$", s))

<re.Match object; span=(0, 10), match='sentence .'>
<re.Match object; span=(9, 10), match='.'>

In [110]:
# non-greedy search
# *?
# +?
# pick phrases; anything that starts or ends with a puncutuator

a =  ["abc. abc.",
     "this is first! this is second one."]


for v in a:
    print("\n%s\n" % v, re.search(r"\b.*\b", v, re.IGNORECASE))
    
print()
for v in a:
    print("\n%s\n" % v, re.search(r"\b.*?\b", v, re.IGNORECASE))
    
print()
for v in a:
    print("\n%s\n" % v, re.search(r"\b.+?\b", v, re.IGNORECASE))

abc. abc.
 <re.Match object; span=(0, 8), match='abc. abc'>

this is first! this is second one.
 <re.Match object; span=(0, 33), match='this is first! this is second one'>


abc. abc.
 <re.Match object; span=(0, 0), match=''>

this is first! this is second one.
 <re.Match object; span=(0, 0), match=''>


abc. abc.
 <re.Match object; span=(0, 3), match='abc'>

this is first! this is second one.
 <re.Match object; span=(0, 4), match='this'>

In [114]:
# back reference
# the first and last symbol in a string should be same.

a = ["a23",
    "abca",
    "words",
    " 123 ",
    "$ab$"]

for v in a:
    print("%20s" % v, re.search(r"^(.).*(\1)$", v, re.IGNORECASE))

                 a23 None
                abca <re.Match object; span=(0, 4), match='abca'>
               words None
                123  <re.Match object; span=(0, 5), match=' 123 '>
                $ab$ <re.Match object; span=(0, 4), match='$ab$'>

In [117]:
# back reference
# the first and last symbol in a string should be same.

a = ["23a23",
    "abca",
    "words",
    " 123 ",
    "$ab$"]

for v in a:
    print("%20s" % v, re.search(r"^(\d\d).*\1$", v, re.IGNORECASE))

               23a23 <re.Match object; span=(0, 5), match='23a23'>
                abca None
               words None
                123  None
                $ab$ None