### Description

**Airport**: The IATA airport code of the selected airport.  
**Terminal**: Terminal(s) associated with the airport selected.  
**Date**: Arrival Date(s) of flights associated with the airport/terminal/date range selected.  
**Hour**: Hour(s) of arriving flights during a 24 hour time period for the airport/terminal selected/date range selected.  
**U.S. Citizen Wait Times**:

    Average:The average wait time for all U.S. Citizen passengers on flights arriving in the one hour increment.
    Max:The highest wait time for all U.S. Citizen passengers on a flight arriving in the one hour increment.

**Non U.S. Citizen Wait Times**:

    Average:The average wait time for all Non U.S. Citizen passengers on flights arriving in the one hour increment.
    Max:The highest wait time for all Non U.S. Citizen passengers on a flight arriving in the one hour increment.

**Wait Times**:

    Average:The average wait time for all passengers on flights arriving in the one hour increment.
    Max:The highest wait time for any passenger on a flight arriving in the one hour increment.

**Number of Passengers Time Interval**:

    0-15:The actual number of passengers on flights which arrived in the selected hour who were processed in (0-15) minutes.
    16-30:The actual number of passengers on flights which arrived in the selected hour who were processed in (16-30) minutes.
    31-45:The actual number of passengers on flights which arrived in the selected hour who were processed in (31-45) minutes.
    46-60:The actual number of passengers on flights which arrived in the selected hour who were processed in (46-60) minutes.
    61-90:The actual number of passengers on flights which arrived in the selected hour who were processed in (61-90) minutes.
    91-120:The actual number of passengers on flights which arrived in the selected hour who were processed in (91-120) minutes.
    121Plus:The actual number of passengers on flights which arrived in the selected hour who were processed in (121 Plus) minutes.

**Excluded**:The actual number of passengers on flights which arrived in the selected hour who were excluded from wait time reporting.  
**Total**:Total number of passengers aboard arriving flights during the one hour increment.  
**Flights**:Number of flights arriving during the time period.  
**Booths**:Number of staffed primary inspection booths open to process flights which arrived during the selected hour.

### Problems
- read dataset and convert column headers to correct format (the first  4 rows are headers, but not all rows contain column names)
- check datatype of each column
- find out columns which have na values
- check if there are any unique values in first two columns
- based on above, are these two columns userful ?   
  
  
- check if all hour values are present or not
- drop the upper bound of  hour column
  Ex: replace  0100 - 0200 with 0100 ...
- check that hour values lie in range 0-2300 or not
- convert hour column from string type to datetime type. (If this doesn't work out easily, then first solve next problem)
- check that length of each hour value is 4, if  not, check why and fix it and then check again   
  
  
- convert Date column to datetime type
- check data types now
- replace Hours with only time part and Date column with only date part (both should  be converted to datetime type before this)
- check data types again
- merge date and hour column into a new column date_time (type of date_time should be datetime not str)

In [1]:
#read dataset and convert column headers to correct format 
#(the first 4 rows are headers, but not all rows contain column names)

import pandas as pd
import numpy as np
file_loc = "AWT.xls"
#aiir = pd.read_excel(file_loc, index_col=None, na_values=['NA'], usecols = "A:U")
df_dict = pd.read_excel(file_loc, header=[0,1,2,3],sheet_name='ExcelSheetName')
print(df_dict)
print(df_dict.columns)
#aiir = pd.concat(df_dict.values(), axis=0)

                Airport           Terminal                 Date  \
     Unnamed: 0_level_1 Unnamed: 1_level_1   Unnamed: 2_level_1
     Unnamed: 0_level_2 Unnamed: 1_level_2   Unnamed: 2_level_2
     Unnamed: 0_level_3 Unnamed: 1_level_3   Unnamed: 2_level_3
0                   ORD         Terminal 5  2017-01-01 00:00:00
1                   ORD         Terminal 5  2017-01-01 00:00:00
2                   ORD         Terminal 5  2017-01-01 00:00:00
3                   ORD         Terminal 5  2017-01-01 00:00:00
4                   ORD         Terminal 5  2017-01-01 00:00:00
...                 ...                ...                  ...
6699                ORD         Terminal 5           12/31/2017
6700                ORD         Terminal 5           12/31/2017
6701                ORD         Terminal 5           12/31/2017
6702                ORD         Terminal 5           12/31/2017
6703                ORD         Terminal 5           12/31/2017

                   Hour       U.S. Citizen                     \
     Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
     Unnamed: 3_level_2       Average Wait           Max Wait
     Unnamed: 3_level_3               Time               Time
0           0300 - 0400                  0                  0
1           0400 - 0500                 18                 51
2           0600 - 0700                 11                 49
3           0700 - 0800                  7                 24
4           0800 - 0900                  5                 25
...                 ...                ...                ...
6699        1800 - 1900                 16                 47
6700        1900 - 2000                  7                 23
6701        2000 - 2100                  7                 18
6702        2100 - 2200                 28                 39
6703        2300 - 0000                  7                 25

       Non U.S. Citizen                             All           ...  \
     Unnamed: 6_level_1 Unnamed: 7_level_1   Wait Times           ...
           Average Wait           Max Wait Average Wait Max Wait  ...
                   Time               Time         Time     Time  ...
0                     0                  0            0        0  ...
1                    28                 51           20       51  ...
2                    27                 49           20       49  ...
3                    12                 26           10       26  ...
4                    13                 37           10       37  ...
...                 ...                ...          ...      ...  ...
6699                 16                 48           16       48  ...
6700                  9                 23            7       23  ...
6701                  8                 18            7       18  ...
6702                 31                 39           28       39  ...
6703                 11                 25            8       25  ...

                                                             \
     Number Of Passengers Time Interval
                                  16-30               31-45
                    Unnamed: 11_level_3 Unnamed: 12_level_3
0                                     0                   0
1                                   160                  60
2                                    81                  64
3                                    88                   0
4                                   121                  16
...                                 ...                 ...
6699                                506                 148
6700                                 21                   0
6701                                 25                   0
6702                                119                  38
6703                                 66                   0

                                                                  \

                   46-60               61-90              91-120
     Unnamed: 13_level_3 Unnamed: 14_level_3 Unnamed: 15_level_3
0                      0                   0                   0
1                      8                   0                   0
2                     19                   0                   0
3                      0                   0                   0
4                      0                   0                   0
...                  ...                 ...                 ...
6699                   9                   0                   0
6700                   0                   0                   0
6701                   0                   0                   0
6702                   0                   0                   0
6703                   0                   0                   0

                                                                  \

                120 plus            Excluded               Total
     Unnamed: 16_level_3 Unnamed: 17_level_3 Unnamed: 18_level_3
0                      0                   7                   7
1                      0                  13                 362
2                      0                  10                 328
3                      0                  10                 370
4                      0                  11                 446
...                  ...                 ...                 ...
6699                   0                  56                1405
6700                   0                  10                 284
6701                   0                  15                 427
6702                   0                   6                 167
6703                   0                  18                 451



                 Flights              Booths
     Unnamed: 19_level_3 Unnamed: 20_level_3
0                      1                   0
1                      3                  10
2                      1                  10
3                      2                  12
4                      2                  12
...                  ...                 ...
6699                   9                  17
6700                   1                  19
6701                   2                  14
6702                   1                   3
6703                   3                   8

[6704 rows x 21 columns]
MultiIndex([(         'Airport',                 'Unnamed: 0_level_1', ...),
            (        'Terminal',                 'Unnamed: 1_level_1', ...),
            (            'Date',                 'Unnamed: 2_level_1', ...),
            (            'Hour',                 'Unnamed: 3_level_1', ...),
            (    'U.S. Citizen',                 'Unnamed: 4_level_1', ...),
            (    'U.S. Citizen',                 'Unnamed: 5_level_1', ...),
            ('Non U.S. Citizen',                 'Unnamed: 6_level_1', ...),
            ('Non U.S. Citizen',                 'Unnamed: 7_level_1', ...),
            (             'All',                         'Wait Times', ...),
            (             'All',                         'Wait Times', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...)],
           )

In [2]:

#df_awt = pd.read_excel(file_loc,sheet_name='ExcelSheetName')
df_dict.columns.to_flat_index()

Index([   ('Airport', 'Unnamed: 0_level_1', 'Unnamed: 0_level_2', 'Unnamed: 0_level_3'),
         ('Terminal', 'Unnamed: 1_level_1', 'Unnamed: 1_level_2', 'Unnamed: 1_level_3'),
             ('Date', 'Unnamed: 2_level_1', 'Unnamed: 2_level_2', 'Unnamed: 2_level_3'),
             ('Hour', 'Unnamed: 3_level_1', 'Unnamed: 3_level_2', 'Unnamed: 3_level_3'),
                         ('U.S. Citizen', 'Unnamed: 4_level_1', 'Average Wait', 'Time'),
                             ('U.S. Citizen', 'Unnamed: 5_level_1', 'Max Wait', 'Time'),
                     ('Non U.S. Citizen', 'Unnamed: 6_level_1', 'Average Wait', 'Time'),
                         ('Non U.S. Citizen', 'Unnamed: 7_level_1', 'Max Wait', 'Time'),
                                          ('All', 'Wait Times', 'Average Wait', 'Time'),
                                              ('All', 'Wait Times', 'Max Wait', 'Time'),
           ('All', 'Number Of Passengers Time Interval', '0-15', 'Unnamed: 10_level_3'),
          ('All', 'Number Of Passengers Time Interval', '16-30', 'Unnamed: 11_level_3'),
          ('All', 'Number Of Passengers Time Interval', '31-45', 'Unnamed: 12_level_3'),
          ('All', 'Number Of Passengers Time Interval', '46-60', 'Unnamed: 13_level_3'),
          ('All', 'Number Of Passengers Time Interval', '61-90', 'Unnamed: 14_level_3'),
         ('All', 'Number Of Passengers Time Interval', '91-120', 'Unnamed: 15_level_3'),
       ('All', 'Number Of Passengers Time Interval', '120 plus', 'Unnamed: 16_level_3'),
       ('All', 'Number Of Passengers Time Interval', 'Excluded', 'Unnamed: 17_level_3'),
          ('All', 'Number Of Passengers Time Interval', 'Total', 'Unnamed: 18_level_3'),
        ('All', 'Number Of Passengers Time Interval', 'Flights', 'Unnamed: 19_level_3'),
         ('All', 'Number Of Passengers Time Interval', 'Booths', 'Unnamed: 20_level_3')],
      dtype='object')

In [3]:
print(df_dict.dtypes)

Airport           Unnamed: 0_level_1                  Unnamed: 0_level_2  Unnamed: 0_level_3     object
Terminal          Unnamed: 1_level_1                  Unnamed: 1_level_2  Unnamed: 1_level_3     object
Date              Unnamed: 2_level_1                  Unnamed: 2_level_2  Unnamed: 2_level_3     object
Hour              Unnamed: 3_level_1                  Unnamed: 3_level_2  Unnamed: 3_level_3     object
U.S. Citizen      Unnamed: 4_level_1                  Average Wait        Time                    int64
                  Unnamed: 5_level_1                  Max Wait            Time                    int64
Non U.S. Citizen  Unnamed: 6_level_1                  Average Wait        Time                    int64
                  Unnamed: 7_level_1                  Max Wait            Time                    int64
All               Wait Times                          Average Wait        Time                    int64
                                                      Max Wait            Time                    int64
                  Number Of Passengers Time Interval  0-15                Unnamed: 10_level_3     int64
                                                      16-30               Unnamed: 11_level_3     int64
                                                      31-45               Unnamed: 12_level_3     int64
                                                      46-60               Unnamed: 13_level_3     int64
                                                      61-90               Unnamed: 14_level_3     int64
                                                      91-120              Unnamed: 15_level_3     int64
                                                      120 plus            Unnamed: 16_level_3     int64
                                                      Excluded            Unnamed: 17_level_3     int64
                                                      Total               Unnamed: 18_level_3     int64
                                                      Flights             Unnamed: 19_level_3     int64
                                                      Booths              Unnamed: 20_level_3     int64
dtype: object

In [4]:
df=df_dict.replace(0,np.NaN)
print(df)

  
# Count total NaN at each column in a DataFrame 
print(" \nCount total NaN at each column in a DataFrame : \n\n", df.isna().sum())

                Airport           Terminal                 Date  \
     Unnamed: 0_level_1 Unnamed: 1_level_1   Unnamed: 2_level_1
     Unnamed: 0_level_2 Unnamed: 1_level_2   Unnamed: 2_level_2
     Unnamed: 0_level_3 Unnamed: 1_level_3   Unnamed: 2_level_3
0                   ORD         Terminal 5  2017-01-01 00:00:00
1                   ORD         Terminal 5  2017-01-01 00:00:00
2                   ORD         Terminal 5  2017-01-01 00:00:00
3                   ORD         Terminal 5  2017-01-01 00:00:00
4                   ORD         Terminal 5  2017-01-01 00:00:00
...                 ...                ...                  ...
6699                ORD         Terminal 5           12/31/2017
6700                ORD         Terminal 5           12/31/2017
6701                ORD         Terminal 5           12/31/2017
6702                ORD         Terminal 5           12/31/2017
6703                ORD         Terminal 5           12/31/2017

                   Hour       U.S. Citizen                     \
     Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1
     Unnamed: 3_level_2       Average Wait           Max Wait
     Unnamed: 3_level_3               Time               Time
0           0300 - 0400                NaN                NaN
1           0400 - 0500               18.0               51.0
2           0600 - 0700               11.0               49.0
3           0700 - 0800                7.0               24.0
4           0800 - 0900                5.0               25.0
...                 ...                ...                ...
6699        1800 - 1900               16.0               47.0
6700        1900 - 2000                7.0               23.0
6701        2000 - 2100                7.0               18.0
6702        2100 - 2200               28.0               39.0
6703        2300 - 0000                7.0               25.0

       Non U.S. Citizen                             All           ...  \
     Unnamed: 6_level_1 Unnamed: 7_level_1   Wait Times           ...
           Average Wait           Max Wait Average Wait Max Wait  ...
                   Time               Time         Time     Time  ...
0                   NaN                NaN          NaN      NaN  ...
1                  28.0               51.0         20.0     51.0  ...
2                  27.0               49.0         20.0     49.0  ...
3                  12.0               26.0         10.0     26.0  ...
4                  13.0               37.0         10.0     37.0  ...
...                 ...                ...          ...      ...  ...
6699               16.0               48.0         16.0     48.0  ...
6700                9.0               23.0          7.0     23.0  ...
6701                8.0               18.0          7.0     18.0  ...
6702               31.0               39.0         28.0     39.0  ...
6703               11.0               25.0          8.0     25.0  ...

                                                             \
     Number Of Passengers Time Interval
                                  16-30               31-45
                    Unnamed: 11_level_3 Unnamed: 12_level_3
0                                   NaN                 NaN
1                                 160.0                60.0
2                                  81.0                64.0
3                                  88.0                 NaN
4                                 121.0                16.0
...                                 ...                 ...
6699                              506.0               148.0
6700                               21.0                 NaN
6701                               25.0                 NaN
6702                              119.0                38.0
6703                               66.0                 NaN

                                                                  \

                   46-60               61-90              91-120
     Unnamed: 13_level_3 Unnamed: 14_level_3 Unnamed: 15_level_3
0                    NaN                 NaN                 NaN
1                    8.0                 NaN                 NaN
2                   19.0                 NaN                 NaN
3                    NaN                 NaN                 NaN
4                    NaN                 NaN                 NaN
...                  ...                 ...                 ...
6699                 9.0                 NaN                 NaN
6700                 NaN                 NaN                 NaN
6701                 NaN                 NaN                 NaN
6702                 NaN                 NaN                 NaN
6703                 NaN                 NaN                 NaN

                                                                  \

                120 plus            Excluded               Total
     Unnamed: 16_level_3 Unnamed: 17_level_3 Unnamed: 18_level_3
0                    NaN                 7.0                   7
1                    NaN                13.0                 362
2                    NaN                10.0                 328
3                    NaN                10.0                 370
4                    NaN                11.0                 446
...                  ...                 ...                 ...
6699                 NaN                56.0                1405
6700                 NaN                10.0                 284
6701                 NaN                15.0                 427
6702                 NaN                 6.0                 167
6703                 NaN                18.0                 451



                 Flights              Booths
     Unnamed: 19_level_3 Unnamed: 20_level_3
0                      1                 NaN
1                      3                10.0
2                      1                10.0
3                      2                12.0
4                      2                12.0
...                  ...                 ...
6699                   9                17.0
6700                   1                19.0
6701                   2                14.0
6702                   1                 3.0
6703                   3                 8.0

[6704 rows x 21 columns]

Count total NaN at each column in a DataFrame :

 Airport           Unnamed: 0_level_1                  Unnamed: 0_level_2  Unnamed: 0_level_3        0
Terminal          Unnamed: 1_level_1                  Unnamed: 1_level_2  Unnamed: 1_level_3        0
Date              Unnamed: 2_level_1                  Unnamed: 2_level_2  Unnamed: 2_level_3        0
Hour              Unnamed: 3_level_1                  Unnamed: 3_level_2  Unnamed: 3_level_3        0
U.S. Citizen      Unnamed: 4_level_1                  Average Wait        Time                     57
                  Unnamed: 5_level_1                  Max Wait            Time                      5
Non U.S. Citizen  Unnamed: 6_level_1                  Average Wait        Time                     23
                  Unnamed: 7_level_1                  Max Wait            Time                     19
All               Wait Times                          Average Wait        Time                     10
                                                      Max Wait            Time                      2
                  Number Of Passengers Time Interval  0-15                Unnamed: 10_level_3       6
                                                      16-30               Unnamed: 11_level_3     320
                                                      31-45               Unnamed: 12_level_3    2060
                                                      46-60               Unnamed: 13_level_3    4011
                                                      61-90               Unnamed: 14_level_3    5184
                                                      91-120              Unnamed: 15_level_3    6300
                                                      120 plus            Unnamed: 16_level_3    6601
                                                      Excluded            Unnamed: 17_level_3      11
                                                      Total               Unnamed: 18_level_3       0
                                                      Flights             Unnamed: 19_level_3       0
                                                      Booths              Unnamed: 20_level_3       3
dtype: int64

In [5]:
#check if there are any unique values in first two columns
column_values = df[['Airport', 'Terminal']].values.ravel()
unique_values = pd.unique(column_values)
print(unique_values)

['ORD' 'Terminal 5']

In [6]:
#check if all hour values are present or not

bool_series = pd.isnull(df["Hour"])
print(bool_series.sum())

Unnamed: 3_level_1  Unnamed: 3_level_2  Unnamed: 3_level_3    0
dtype: int64

In [31]:
#drop the upper bound of hour column Ex: replace 0100 - 0200 with 0100 ...
import pandas as pd
import numpy as np
file_loc = "AWT.xls"
#aiir = pd.read_excel(file_loc, index_col=None, na_values=['NA'], usecols = "A:U")
df_dict = pd.read_excel(file_loc,sheet_name='ExcelSheetName')
df_dict['Hour'] = df_dict['Hour'].str.split('-').str[0]
print (df_dict)
df_dict['Hour'].astype(str)
print(df_dict['Hour'].dtype)

     Airport    Terminal                 Date   Hour  U.S. Citizen Unnamed: 5  \
0        NaN         NaN                  NaN    NaN           NaN        NaN
1        NaN         NaN                  NaN    NaN  Average Wait   Max Wait
2        NaN         NaN                  NaN    NaN          Time       Time
3        ORD  Terminal 5  2017-01-01 00:00:00  0300              0          0
4        ORD  Terminal 5  2017-01-01 00:00:00  0400             18         51
...      ...         ...                  ...    ...           ...        ...
6702     ORD  Terminal 5           12/31/2017  1800             16         47
6703     ORD  Terminal 5           12/31/2017  1900              7         23
6704     ORD  Terminal 5           12/31/2017  2000              7         18
6705     ORD  Terminal 5           12/31/2017  2100             28         39
6706     ORD  Terminal 5           12/31/2017  2300              7         25

     Non U.S. Citizen Unnamed: 7           All Unnamed: 9  ... Unnamed: 11  \
0                 NaN        NaN    Wait Times        NaN  ...         NaN
1        Average Wait   Max Wait  Average Wait   Max Wait  ...       16-30
2                Time       Time          Time       Time  ...         NaN
3                   0          0             0          0  ...           0
4                  28         51            20         51  ...         160
...               ...        ...           ...        ...  ...         ...
6702               16         48            16         48  ...         506
6703                9         23             7         23  ...          21
6704                8         18             7         18  ...          25
6705               31         39            28         39  ...         119
6706               11         25             8         25  ...          66

     Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15 Unnamed: 16 Unnamed: 17  \
0            NaN         NaN         NaN         NaN         NaN         NaN
1          31-45       46-60       61-90      91-120    120 plus    Excluded
2            NaN         NaN         NaN         NaN         NaN         NaN
3              0           0           0           0           0           7
4             60           8           0           0           0          13
...          ...         ...         ...         ...         ...         ...
6702         148           9           0           0           0          56
6703           0           0           0           0           0          10
6704           0           0           0           0           0          15
6705          38           0           0           0           0           6
6706           0           0           0           0           0          18

     Unnamed: 18 Unnamed: 19 Unnamed: 20
0            NaN         NaN         NaN
1          Total     Flights      Booths
2            NaN         NaN         NaN
3              7           1           0
4            362           3          10
...          ...         ...         ...
6702        1405           9          17
6703         284           1          19
6704         427           2          14
6705         167           1           3
6706         451           3           8

[6707 rows x 21 columns]
object

In [37]:
#check that hour values lie in range 0-2300 or not
import pandas as pd
import numpy as np
file_loc = "AWT.xls"
#aiir = pd.read_excel(file_loc, index_col=None, na_values=['NA'], usecols = "A:U")
fd = pd.read_excel(file_loc,sheet_name='ExcelSheetName')
df2 = fd['Hour'].between('0','2300')

print(df2.shape)

(6707,)

In [ ]:
#convert hour column from string type to datetime type. (If this doesn't work out easily, then first solve next problem)
#check that length of each hour value is 4, if not, check why and fix it and then check again

In [66]:
df_dict['Hour'] =  pd.to_datetime(df_dict['Hour'],errors='coerce', format='%m%d%Y')
print(df_dict['Hour'].dtype)
print(df_dict['Hour'])

datetime64[ns]
0      NaT
1      NaT
2      NaT
3      NaT
4      NaT
        ..
6702   NaT
6703   NaT
6704   NaT
6705   NaT
6706   NaT
Name: Hour, Length: 6707, dtype: datetime64[ns]

In [58]:
df_dict['Hour']=df_dict['Hour'].str.rstrip()
print(df_dict['Hour'])
df_dict['Hour'].str.len()

0        NaN
1        NaN
2        NaN
3       0300
4       0400
        ...
6702    1800
6703    1900
6704    2000
6705    2100
6706    2300
Name: Hour, Length: 6707, dtype: object

0       NaN
1       NaN
2       NaN
3       4.0
4       4.0
       ...
6702    4.0
6703    4.0
6704    4.0
6705    4.0
6706    4.0
Name: Hour, Length: 6707, dtype: float64

datetime64[ns]
0      NaT
1      NaT
2      NaT
3      NaT
4      NaT
        ..
6702   NaT
6703   NaT
6704   NaT
6705   NaT
6706   NaT
Name: Hour, Length: 6707, dtype: datetime64[ns]

In [50]:
#convert Date column to datetime type
#check data types now
print(df_dict['Date'].dtype)

object

In [60]:
print(df_dict['Hour'].dtype)

object

In [76]:
df_dict['Date'] =  pd.to_datetime(df_dict['Date'])
print(df_dict['Date'].dtype)
print(df_dict['Date'])
print(df_dict['Hour'])

datetime64[ns]
0             NaT
1             NaT
2             NaT
3      2017-01-01
4      2017-01-01
          ...
6702   2017-12-31
6703   2017-12-31
6704   2017-12-31
6705   2017-12-31
6706   2017-12-31
Name: Date, Length: 6707, dtype: datetime64[ns]
0      NaT
1      NaT
2      NaT
3      NaT
4      NaT
        ..
6702   NaT
6703   NaT
6704   NaT
6705   NaT
6706   NaT
Name: Hour, Length: 6707, dtype: datetime64[ns]

In [ ]:
replace Hours with only time part and Date column with only date part (both should be converted to datetime type before this)
check data types again
merge date and hour column into a new column date_time (type of date_time should be datetime not str)

In [71]:
print(df_dict['Date'].dtype)
print(df_dict['Hour'].dtype)

datetime64[ns]
datetime64[ns]

In [75]:
import datetime as dt
df_dict["date_time"] = df_dict["Date"] + df_dict["Hour"].map(dt.timedelta)

TypeError: unsupported type for timedelta days component: NaTType