- Read sheet "Australia by Residence" from Australia.xlsx
- Ignore the first 20 rows.
- List all Column and Row indexes(Print their names)

Dataset Analysis
- Describe the dataset
- Use values and index attributes on both Row and Column Indexes
- Check Shape, Datatypes and other attributes and observe the datatype of each columns' data
  

Drop
- Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
- Find columns for which more than 50% data is missing and drop them (Column Deletion)
- Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
    Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"

Rename
- Rename columns :OdName -> Country; RegName -> Region
- Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)
- Find Total number of immigrants for all years, and create a new column Total in data Frame

Head Tail Sort
- Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
    - find something weird in the dataset ? Delete that row 'world'
- Analyze last few rows also in the sorted result (Don't sort inplace)

- Check if these have all unique values or not:
    - countries
    - continents (AreaName)
    - country continent pairs


- Find countries for which no of immigrants for all years is 0
- Find count of above countries
- Find countries for which no of immigrants is 0 for any year

Save Data
- Drop the row where AreaName is 'World'
- Save the dataset to a new file AustraliaFiltered.xlsx

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read sheet "Australia by Residence" from Australia.xlsx
# Ignore the first 20 rows.
df = pd.read_excel('Australia.xlsx', sheet_name = 'Australia by Residence', skiprows = 20)

In [3]:
# List all Column and Row indexes(Print their names)
print(df.columns)
print(df.index)

print();print()
print(df.columns.values)

print();print()
print(df.head())

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')
RangeIndex(start=0, stop=448, step=1)


['Type' 'Coverage' 'OdName' 'AREA' 'AreaName' 'REG' 'RegName' 'DEV'
 'DevName' 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013]


        Type Coverage          OdName  AREA AreaName   REG          RegName  \
0  Emigrants     Both     Afghanistan   935     Asia  5501    Southern Asia
1  Emigrants     Both         Albania   908   Europe   925  Southern Europe
2  Emigrants     Both         Algeria   903   Africa   912  Northern Africa
3  Emigrants     Both  American Samoa   909  Oceania   957        Polynesia
4  Emigrants     Both         Andorra   908   Europe   925  Southern Europe

   DEV             DevName  1980  ...  2004  2005  2006  2007  2008  2009  \
0  902  Developing regions     0  ...    80   120    70    80   120    ..
1  901   Developed regions     0  ...    30    40    30    30    30    ..
2  902  Developing regions    20  ...    20    20    30    40    50    ..
3  902  Developing regions    10  ...     0     0     0     0     0    ..
4  901   Developed regions     0  ...     0     0     0     0     0    ..

   2010  2011  2012  2013
0    ..    ..    ..    ..
1    ..    ..    ..    ..
2    ..    ..    ..    ..
3    ..    ..    ..    ..
4    ..    ..    ..    ..

[5 rows x 43 columns]

### Dataset Analysis

In [4]:
# Describe the dataset
print(df.describe(include = 'all'))

             Type Coverage    OdName        AREA AreaName          REG  \
count         448      448       448  448.000000      448   448.000000
unique          2        1       224         NaN        7          NaN
top     Emigrants     Both  Kiribati         NaN   Africa          NaN
freq          224      448         2         NaN      112          NaN
mean          NaN      NaN       NaN  912.955357      NaN  1208.040179
std           NaN      NaN       NaN   15.019682      NaN  1109.669573
min           NaN      NaN       NaN  903.000000      NaN   905.000000
25%           NaN      NaN       NaN  903.750000      NaN   914.000000
50%           NaN      NaN       NaN  908.000000      NaN   922.000000
75%           NaN      NaN       NaN  909.000000      NaN   926.000000
max           NaN      NaN       NaN  999.000000      NaN  5501.000000

          RegName         DEV             DevName           1980  ...  \
count         448  448.000000                 448     448.000000  ...
unique         23         NaN                   3            NaN  ...
top     Caribbean         NaN  Developing regions            NaN  ...
freq           46         NaN                 344            NaN  ...
mean          NaN  902.642857                 NaN    1228.348214  ...
std           NaN    9.165500                 NaN   10145.734028  ...
min           NaN  901.000000                 NaN       0.000000  ...
25%           NaN  902.000000                 NaN       0.000000  ...
50%           NaN  902.000000                 NaN      10.000000  ...
75%           NaN  902.000000                 NaN     130.000000  ...
max           NaN  999.000000                 NaN  184290.000000  ...

                 2004           2005           2006           2007  \
count      448.000000     448.000000     448.000000     448.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean      2514.241071    2545.357143    2709.866071    3023.348214
std      19834.528214   20203.441660   21786.641444   24542.748186
min          0.000000       0.000000       0.000000       0.000000
25%         10.000000      10.000000      10.000000      10.000000
50%         50.000000      50.000000      60.000000      70.000000
75%        400.000000     410.000000     455.000000     480.000000
max     350990.000000  363470.000000  402210.000000  460650.000000

                 2008  2009  2010  2011  2012  2013
count      448.000000   448   448   448   448   448
unique            NaN     1     1     1     1     1
top               NaN    ..    ..    ..    ..    ..
freq              NaN   448   448   448   448   448
mean      3376.116071   NaN   NaN   NaN   NaN   NaN
std      27950.462893   NaN   NaN   NaN   NaN   NaN
min          0.000000   NaN   NaN   NaN   NaN   NaN
25%         10.000000   NaN   NaN   NaN   NaN   NaN
50%         75.000000   NaN   NaN   NaN   NaN   NaN
75%        512.500000   NaN   NaN   NaN   NaN   NaN
max     535970.000000   NaN   NaN   NaN   NaN   NaN

[11 rows x 43 columns]

In [5]:
# Use values and index attributes on both Row and Column Indexes
print(df.columns.values)
print(dir(df.columns))#.index)

['Type' 'Coverage' 'OdName' 'AREA' 'AreaName' 'REG' 'RegName' 'DEV'
 'DevName' 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013]
['T', '__abs__', '__add__', '__and__', '__array__', '__array_priority__', '__array_wrap__', '__bool__', '__bytes__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__init__', '__init_subclass__', '__inv__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__unicode__', '__weakref__', '__xor__', '_accessors', '_add_comparison_methods', '_add_logical_methods', '_add_logical_methods_disabled', '_add_numeric_methods', '_add_numeric_methods_add_sub_disabled', '_add_numeric_methods_binary', '_add_numeric_methods_disabled', '_add_numeric_methods_unary', '_assert_can_do_op', '_assert_can_do_setop', '_assert_take_fillable', '_attributes', '_can_hold_identifiers_and_holds_name', '_can_hold_na', '_can_reindex', '_cleanup', '_coerce_scalar_to_index', '_coerce_to_ndarray', '_comparables', '_concat', '_concat_same_dtype', '_constructor', '_convert_arr_indexer', '_convert_can_do_setop', '_convert_for_op', '_convert_index_indexer', '_convert_list_indexer', '_convert_listlike_indexer', '_convert_scalar_indexer', '_convert_slice_indexer', '_convert_tolerance', '_data', '_defer_to_indexing', '_deprecations', '_dir_additions', '_dir_deletions', '_engine', '_engine_type', '_evaluate_with_datetime_like', '_evaluate_with_timedelta_like', '_filter_indexer_tolerance', '_format_attrs', '_format_data', '_format_native_types', '_format_space', '_format_with_header', '_formatter_func', '_get_attributes_dict', '_get_fill_indexer', '_get_fill_indexer_searchsorted', '_get_grouper_for_level', '_get_level_number', '_get_level_values', '_get_loc_only_exact_matches', '_get_names', '_get_nearest_indexer', '_get_reconciled_name_object', '_get_string_slice', '_get_unique_index', '_has_complex_internals', '_id', '_infer_as_myclass', '_inner_indexer', '_invalid_indexer', '_is_homogeneous_type', '_is_memory_usage_qualified', '_is_numeric_dtype', '_is_strictly_monotonic_decreasing', '_is_strictly_monotonic_increasing', '_isnan', '_join_level', '_join_monotonic', '_join_multi', '_join_non_unique', '_join_precedence', '_left_indexer', '_left_indexer_unique', '_map_values', '_maybe_cast_indexer', '_maybe_cast_slice_bound', '_maybe_promote', '_maybe_update_attributes', '_mpl_repr', '_na_value', '_nan_idxs', '_ndarray_values', '_outer_indexer', '_reduce', '_reindex_non_unique', '_reset_cache', '_reset_identity', '_scalar_data_error', '_searchsorted_monotonic', '_set_names', '_shallow_copy', '_shallow_copy_with_infer', '_simple_new', '_sort_levels_monotonic', '_string_data_error', '_summary', '_to_safe_for_reshape', '_try_convert_to_int_index', '_typ', '_unpickle_compat', '_update_inplace', '_validate_for_numeric_binop', '_validate_for_numeric_unaryop', '_validate_index_level', '_validate_indexer', '_validate_names', '_validate_sort_keyword', '_values', '_wrap_joined_index', '_wrap_setop_result', 'all', 'any', 'append', 'argmax', 'argmin', 'argsort', 'array', 'asi8', 'asof', 'asof_locs', 'astype', 'contains', 'copy', 'delete', 'difference', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtype_str', 'duplicated', 'empty', 'equals', 'factorize', 'fillna', 'format', 'get_duplicates', 'get_indexer', 'get_indexer_for', 'get_indexer_non_unique', 'get_level_values', 'get_loc', 'get_slice_bound', 'get_value', 'get_values', 'groupby', 'has_duplicates', 'hasnans', 'holds_integer', 'identical', 'inferred_type', 'insert', 'intersection', 'is_', 'is_all_dates', 'is_boolean', 'is_categorical', 'is_floating', 'is_integer', 'is_interval', 'is_lexsorted_for_tuple', 'is_mixed', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_numeric', 'is_object', 'is_type_compatible', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'join', 'map', 'max', 'memory_usage', 'min', 'name', 'names', 'nbytes', 'ndim', 'nlevels', 'notna', 'notnull', 'nunique', 'putmask', 'ravel', 'reindex', 'rename', 'repeat', 'searchsorted', 'set_names', 'set_value', 'shape', 'shift', 'size', 'slice_indexer', 'slice_locs', 'sort', 'sort_values', 'sortlevel', 'str', 'summary', 'symmetric_difference', 'take', 'to_flat_index', 'to_frame', 'to_list', 'to_native_types', 'to_numpy', 'to_series', 'transpose', 'union', 'unique', 'value_counts', 'values', 'view', 'where']

In [6]:
# Check Shape, Datatypes and other attributes
print(df.shape)
print(df.dtypes)

(448, 43)
Type        object
Coverage    object
OdName      object
AREA         int64
AreaName    object
REG          int64
RegName     object
DEV          int64
DevName     object
1980         int64
1981         int64
1982         int64
1983         int64
1984         int64
1985         int64
1986         int64
1987         int64
1988         int64
1989         int64
1990         int64
1991         int64
1992         int64
1993         int64
1994         int64
1995         int64
1996         int64
1997         int64
1998         int64
1999         int64
2000         int64
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009        object
2010        object
2011        object
2012        object
2013        object
dtype: object

In [7]:
# Delete all Data where the Type = "Emigrants" or Type is not "Immigrants" (Row Deletion)
data_to_delete = df[df.Type == 'Emigrants']
df.drop(data_to_delete.index, inplace = True)

print(df.head())

           Type Coverage          OdName  AREA AreaName   REG  \
224  Immigrants     Both     Afghanistan   935     Asia  5501
225  Immigrants     Both         Albania   908   Europe   925
226  Immigrants     Both         Algeria   903   Africa   912
227  Immigrants     Both  American Samoa   909  Oceania   957
228  Immigrants     Both         Andorra   908   Europe   925

             RegName  DEV             DevName  1980  ...  2004  2005  2006  \
224    Southern Asia  902  Developing regions    10  ...    80   110   180
225  Southern Europe  901   Developed regions     0  ...   140   130   110
226  Northern Africa  902  Developing regions    10  ...    20    50    30
227        Polynesia  902  Developing regions     0  ...     0     0     0
228  Southern Europe  901   Developed regions     0  ...    10    10     0

     2007  2008  2009  2010  2011  2012  2013
224   140   560    ..    ..    ..    ..    ..
225   110   140    ..    ..    ..    ..    ..
226    30    60    ..    ..    ..    ..    ..
227     0    10    ..    ..    ..    ..    ..
228    10    10    ..    ..    ..    ..    ..

[5 rows x 43 columns]

In [8]:
# Find columns for which more than 50% data is missing and drop them (Column Deletion)
print(df.isna().count().to_frame().T) # check any missing data
# to_frame().T is just to display in single row instead of as a column

# actually data contains ''..'' instead of Nan
# either replace .. with Nan and then drop or just drop data with ..
df.replace('..', np.nan, inplace = True)
df.dropna(axis = 1, inplace = True)
print(df.head())

   Type  Coverage  OdName  AREA  AreaName  REG  RegName  DEV  DevName  1980  \
0   224       224     224   224       224  224      224  224      224   224

   ...  2004  2005  2006  2007  2008  2009  2010  2011  2012  2013
0  ...   224   224   224   224   224   224   224   224   224   224

[1 rows x 43 columns]
           Type Coverage          OdName  AREA AreaName   REG  \
224  Immigrants     Both     Afghanistan   935     Asia  5501
225  Immigrants     Both         Albania   908   Europe   925
226  Immigrants     Both         Algeria   903   Africa   912
227  Immigrants     Both  American Samoa   909  Oceania   957
228  Immigrants     Both         Andorra   908   Europe   925

             RegName  DEV             DevName  1980  ...  1999  2000  2001  \
224    Southern Asia  902  Developing regions    10  ...   270   100    20
225  Southern Europe  901   Developed regions     0  ...    70   110   110
226  Northern Africa  902  Developing regions    10  ...    30    20    30
227        Polynesia  902  Developing regions     0  ...     0     0     0
228  Southern Europe  901   Developed regions     0  ...    10     0    10

     2002  2003  2004  2005  2006  2007  2008
224    40    70    80   110   180   140   560
225   200   250   140   130   110   110   140
226    60    20    20    50    30    30    60
227     0     0     0     0     0     0    10
228    10     0    10    10     0    10    10

[5 rows x 38 columns]

In [9]:
# Drop Unnessary Columns: Type, Coverage, Area, Reg, Dev (Column deletion)
# Your columns should now look like "OdName,AreaName,RegName,DevName,1980 ... 2008"
df.drop(columns = ['Type', 'Coverage', 'AREA', 'REG', 'DEV'], inplace = True)
print(df.columns)

Index([  'OdName', 'AreaName',  'RegName',  'DevName',       1980,       1981,
             1982,       1983,       1984,       1985,       1986,       1987,
             1988,       1989,       1990,       1991,       1992,       1993,
             1994,       1995,       1996,       1997,       1998,       1999,
             2000,       2001,       2002,       2003,       2004,       2005,
             2006,       2007,       2008],
      dtype='object')

In [10]:
# Rename columns :OdName -> Country; RegName -> Region
df.rename({'OdName': 'Country', 'RegName': 'Region'}, axis = 1, inplace = True)
print(df.columns)

Index([ 'Country', 'AreaName',   'Region',  'DevName',       1980,       1981,
             1982,       1983,       1984,       1985,       1986,       1987,
             1988,       1989,       1990,       1991,       1992,       1993,
             1994,       1995,       1996,       1997,       1998,       1999,
             2000,       2001,       2002,       2003,       2004,       2005,
             2006,       2007,       2008],
      dtype='object')

In [11]:
# Convert Column Names with Int type to Strings to avoid index errors with string indexing "1980, 1981 etc." => " '1980', '1981' ... " (Use rename)

columns_int = filter(lambda x: isinstance(x, int), df.columns)  # gives columns which are int
columns_int = list(columns_int)

# create a map of int and string columns
columns_map = dict(   map(   lambda x: (x,str(x)), columns_int  )    )
print(columns_int); print()
print(columns_map)

df.rename(columns_map, axis = 1, inplace = True)
print(df.columns)

[1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008]

{1980: '1980', 1981: '1981', 1982: '1982', 1983: '1983', 1984: '1984', 1985: '1985', 1986: '1986', 1987: '1987', 1988: '1988', 1989: '1989', 1990: '1990', 1991: '1991', 1992: '1992', 1993: '1993', 1994: '1994', 1995: '1995', 1996: '1996', 1997: '1997', 1998: '1998', 1999: '1999', 2000: '2000', 2001: '2001', 2002: '2002', 2003: '2003', 2004: '2004', 2005: '2005', 2006: '2006', 2007: '2007', 2008: '2008'}
Index(['Country', 'AreaName', 'Region', 'DevName', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008'],
      dtype='object')

In [12]:
# Find Total number of immigrants for all years, and create a new column Total in data Frame
df['Total'] = df.loc['1980':].sum(axis = 1)
print(df.head())

            Country AreaName           Region             DevName  1980  1981  \
224     Afghanistan     Asia    Southern Asia  Developing regions    10    20
225         Albania   Europe  Southern Europe   Developed regions     0     0
226         Algeria   Africa  Northern Africa  Developing regions    10    50
227  American Samoa  Oceania        Polynesia  Developing regions     0     0
228         Andorra   Europe  Southern Europe   Developed regions     0     0

     1982  1983  1984  1985  ...  2000  2001  2002  2003  2004  2005  2006  \
224    30    30    70   100  ...   100    20    40    70    80   110   180
225     0     0     0     0  ...   110   110   200   250   140   130   110
226    30    10    20    20  ...    20    30    60    20    20    50    30
227     0     0     0    20  ...     0     0     0     0     0     0     0
228    10     0     0     0  ...     0    10    10     0    10    10     0

     2007  2008  Total
224   140   560   4630
225   110   140   1910
226    30    60    730
227     0    10     30
228    10    10    100

[5 rows x 34 columns]

In [13]:
# Sort Data by the new column Total in descending order and analyze the fist few rows. (get first few rows using head)
#     find something weird in the dataset ? Delete that row 'world'
print(df.sort_values(by = 'Total', ascending = False).head())

                                               Country          AreaName  \
447                                              Total             World
432  United Kingdom of Great Britain and Northern I...            Europe
367                                        New Zealand           Oceania
434                           United States of America  Northern America
266     China, Hong Kong Special Administrative Region              Asia

                        Region             DevName    1980    1981    1982  \
447                      World               World  184290  212690  195200
432            Northern Europe   Developed regions   43540   57050   51730
367  Australia and New Zealand   Developed regions   34370   34440   23920
434           Northern America   Developed regions   10470   12080   12490
266               Eastern Asia  Developing regions    4170    4380    4980

       1983    1984    1985  ...    2000    2001    2002    2003    2004  \
447  153570  153530  172550  ...  317560  356410  361990  388450  350990
432   31660   25150   27630  ...   51000   52940   57330   70150   53140
367   13620   16900   27070  ...   47230   45570   29500   28000   40710
434   11110   11840   12480  ...   18030   19230   18950   18980   18540
266    5480    7450    6820  ...   16410   18620   20200   19220    9740

       2005    2006    2007    2008    Total
447  363470  402210  460650  535970  7965110
432   53300   57250   61490   65160  1333340
367   44680   45550   39120   46960   898760
434   18490   17320   19260   20860   450370
266   10070   10270    9680   11030   388640

[5 rows x 34 columns]

In [14]:
# Analyze last few rows also in the sorted result (Don't sort inplace)

In [15]:
# Check if these have all unique values or not:
#   - countries
#   - continents
#   - country continent pairs

print(df.Country.is_unique)
print(df.AreaName.is_unique)

# get a series containing True for any duplicate  pair
duplicates = df.duplicated(subset = ['Country', 'AreaName'], )
print(duplicates.to_frame().T)

print("Duplicate Pairs : ", duplicates.any()) # finally check if any row is duplicate

True
False
     224    225    226    227    228    229    230    231    232    233  ...  \
0  False  False  False  False  False  False  False  False  False  False  ...

     438    439    440    441    442    443    444    445    446    447
0  False  False  False  False  False  False  False  False  False  False

[1 rows x 224 columns]
Duplicate Pairs :  False

In [16]:
# Find countries for which no of immigrants for all years is 0
print(df[df.Total == 0].Country); print()
# Find count of above countries
print(df[df.Total == 0].Country.size); print()

230                            Anguilla
262            Central African Republic
270                             Comoros
306                           Greenland
308                          Guadeloupe
315                            Holy See
353                             Mayotte
392                        Saint Helena
393               Saint Kitts and Nevis
395    Saint Vincent and the Grenadines
427            Turks and Caicos Islands
435        United States Virgin Islands
442                      Western Sahara
Name: Country, dtype: object

13

In [17]:
# Find countries for which no of immigrants is 0 for any year
idx = (df.loc['1980':] == 0).any(1) # index of countries where any row has zero
print( df.Country[idx])

225                                      Albania
227                               American Samoa
228                                      Andorra
229                                       Angola
230                                     Anguilla
231                          Antigua and Barbuda
233                                      Armenia
234                                        Aruba
235                                    Australia
237                                   Azerbaijan
238                                      Bahamas
241                                     Barbados
242                                      Belarus
244                                       Belize
245                                        Benin
247                                       Bhutan
249                       Bosnia and Herzegovina
252                       British Virgin Islands
255                                 Burkina Faso
256                                      Burundi
257                                   Cabo Verde
258                                     Cambodia
259                                     Cameroon
261                               Cayman Islands
262                     Central African Republic
263                                         Chad
270                                      Comoros
271                                        Congo
274                                Côte d'Ivoire
275                                      Croatia
                         ...
387                          Republic of Moldova
388                                      Réunion
390                           Russian Federation
391                                       Rwanda
392                                 Saint Helena
393                        Saint Kitts and Nevis
394                                  Saint Lucia
395             Saint Vincent and the Grenadines
398                                      Senegal
400                                 Sierra Leone
402                                     Slovakia
403                                     Slovenia
405                                      Somalia
409                           State of Palestine
411                                     Suriname
416                                   Tajikistan
418    The former Yugoslav Republic of Macedonia
419                                  Timor-Leste
420                                         Togo
421                                      Tokelau
424                                      Tunisia
426                                 Turkmenistan
427                     Turks and Caicos Islands
428                                       Tuvalu
430                                      Ukraine
435                 United States Virgin Islands
437                                   Uzbekistan
441                    Wallis and Futuna Islands
442                               Western Sahara
443                                        Yemen
Name: Country, Length: 121, dtype: object

In [18]:
# Drop the row where AreaName is 'World'
df.drop( df.index[df.AreaName == 'World'], inplace = True )
print(df.tail())

                       Country AreaName           Region             DevName  \
441  Wallis and Futuna Islands  Oceania        Polynesia  Developing regions
442             Western Sahara   Africa  Northern Africa  Developing regions
443                      Yemen     Asia     Western Asia  Developing regions
444                     Zambia   Africa   Eastern Africa  Developing regions
445                   Zimbabwe   Africa   Eastern Africa  Developing regions

     1980  1981  1982  1983  1984  1985  ...  2000  2001  2002  2003  2004  \
441     0     0     0     0     0     0  ...     0     0     0     0    10
442     0     0     0     0     0     0  ...     0     0     0     0     0
443    10     0     0    10    20    10  ...    20    60    40   150    40
444   150   110   120   180   130   170  ...   100   190   260   430   370
445   630  1120  1190   980   640   500  ...   910  1500  1670  2330  1790

     2005  2006  2007  2008  Total
441     0     0     0     0     10
442     0     0     0     0      0
443    20    10    40    40    570
444   240   410   410   400   5590
445  1560  1880  2180  2270  27350

[5 rows x 34 columns]

In [19]:
# Save the dataset to a new file AustraliaFiltered.xlsx
df.to_excel('AustraliaFiltered.xlsx')