### Description

**Airport**: The IATA airport code of the selected airport.  
**Terminal**: Terminal(s) associated with the airport selected.  
**Date**: Arrival Date(s) of flights associated with the airport/terminal/date range selected.  
**Hour**: Hour(s) of arriving flights during a 24 hour time period for the airport/terminal selected/date range selected.  
**U.S. Citizen Wait Times**:

    Average:The average wait time for all U.S. Citizen passengers on flights arriving in the one hour increment.
    Max:The highest wait time for all U.S. Citizen passengers on a flight arriving in the one hour increment.

**Non U.S. Citizen Wait Times**:

    Average:The average wait time for all Non U.S. Citizen passengers on flights arriving in the one hour increment.
    Max:The highest wait time for all Non U.S. Citizen passengers on a flight arriving in the one hour increment.

**Wait Times**:

    Average:The average wait time for all passengers on flights arriving in the one hour increment.
    Max:The highest wait time for any passenger on a flight arriving in the one hour increment.

**Number of Passengers Time Interval**:

    0-15:The actual number of passengers on flights which arrived in the selected hour who were processed in (0-15) minutes.
    16-30:The actual number of passengers on flights which arrived in the selected hour who were processed in (16-30) minutes.
    31-45:The actual number of passengers on flights which arrived in the selected hour who were processed in (31-45) minutes.
    46-60:The actual number of passengers on flights which arrived in the selected hour who were processed in (46-60) minutes.
    61-90:The actual number of passengers on flights which arrived in the selected hour who were processed in (61-90) minutes.
    91-120:The actual number of passengers on flights which arrived in the selected hour who were processed in (91-120) minutes.
    121Plus:The actual number of passengers on flights which arrived in the selected hour who were processed in (121 Plus) minutes.

**Excluded**:The actual number of passengers on flights which arrived in the selected hour who were excluded from wait time reporting.  
**Total**:Total number of passengers aboard arriving flights during the one hour increment.  
**Flights**:Number of flights arriving during the time period.  
**Booths**:Number of staffed primary inspection booths open to process flights which arrived during the selected hour.

### Problems
- read dataset and convert column headers to correct format (the first  4 rows are headers, but not all rows contain column names)
- check datatype of each column
- find out columns which have na values
- check if there are any unique values in first two columns
- based on above, are these two columns userful ?   
  
  
- check if all hour values are present or not
- drop the upper bound of  hour column
  Ex: replace  0100 - 0200 with 0100 ...
- check that hour values lie in range 0-2300 or not
- convert hour column from string type to datetime type. (If this doesn't work out easily, then first solve next problem)
- check that length of each hour value is 4, if  not, check why and fix it and then check again   
  
  
- convert Date column to datetime type
- check data types now
- replace Hours with only time part and Date column with only date part (both should  be converted to datetime type before this)
- check data types again
- merge date and hour column into a new column date_time (type of date_time should be datetime not str)

In [1]:
import pandas as pd
import numpy as np

read dataset and convert column headers to correct format (the first 4 rows are headers, but not all rows contain column names)

In [2]:
df=pd.read_excel("AWT.xls",header=[0,1,2,3])

In [3]:
df.head()

             Airport           Terminal                 Date  \
  Unnamed: 0_level_1 Unnamed: 1_level_1   Unnamed: 2_level_1
  Unnamed: 0_level_2 Unnamed: 1_level_2   Unnamed: 2_level_2
  Unnamed: 0_level_3 Unnamed: 1_level_3   Unnamed: 2_level_3
0                ORD         Terminal 5  2017-01-01 00:00:00
1                ORD         Terminal 5  2017-01-01 00:00:00
2                ORD         Terminal 5  2017-01-01 00:00:00
3                ORD         Terminal 5  2017-01-01 00:00:00
4                ORD         Terminal 5  2017-01-01 00:00:00

                Hour       U.S. Citizen                      Non U.S. Citizen  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1 Unnamed: 6_level_1
  Unnamed: 3_level_2       Average Wait           Max Wait       Average Wait
  Unnamed: 3_level_3               Time               Time               Time
0        0300 - 0400                  0                  0                  0
1        0400 - 0500                 18                 51                 28
2        0600 - 0700                 11                 49                 27
3        0700 - 0800                  7                 24                 12
4        0800 - 0900                  5                 25                 13

                              All           ...  \
  Unnamed: 7_level_1   Wait Times           ...
            Max Wait Average Wait Max Wait  ...
                Time         Time     Time  ...
0                  0            0        0  ...
1                 51           20       51  ...
2                 49           20       49  ...
3                 26           10       26  ...
4                 37           10       37  ...

                                                                              \
  Number Of Passengers Time Interval
                               16-30               31-45               46-60
                 Unnamed: 11_level_3 Unnamed: 12_level_3 Unnamed: 13_level_3
0                                  0                   0                   0
1                                160                  60                   8
2                                 81                  64                  19
3                                 88                   0                   0
4                                121                  16                   0

                                                               \

                61-90              91-120            120 plus
  Unnamed: 14_level_3 Unnamed: 15_level_3 Unnamed: 16_level_3
0                   0                   0                   0
1                   0                   0                   0
2                   0                   0                   0
3                   0                   0                   0
4                   0                   0                   0

                                                               \

             Excluded               Total             Flights
  Unnamed: 17_level_3 Unnamed: 18_level_3 Unnamed: 19_level_3
0                   7                   7                   1
1                  13                 362                   3
2                  10                 328                   1
3                  10                 370                   2
4                  11                 446                   2



               Booths
  Unnamed: 20_level_3
0                   0
1                  10
2                  10
3                  12
4                  12

[5 rows x 21 columns]

In [4]:
df.columns

MultiIndex([(         'Airport',                 'Unnamed: 0_level_1', ...),
            (        'Terminal',                 'Unnamed: 1_level_1', ...),
            (            'Date',                 'Unnamed: 2_level_1', ...),
            (            'Hour',                 'Unnamed: 3_level_1', ...),
            (    'U.S. Citizen',                 'Unnamed: 4_level_1', ...),
            (    'U.S. Citizen',                 'Unnamed: 5_level_1', ...),
            ('Non U.S. Citizen',                 'Unnamed: 6_level_1', ...),
            ('Non U.S. Citizen',                 'Unnamed: 7_level_1', ...),
            (             'All',                         'Wait Times', ...),
            (             'All',                         'Wait Times', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...)],
           )

In [5]:
df=df.rename(columns=lambda x:x if not 'Unnamed' in str(x) else '')

In [6]:
df.columns

MultiIndex([(         'Airport',                                   '', ...),
            (        'Terminal',                                   '', ...),
            (            'Date',                                   '', ...),
            (            'Hour',                                   '', ...),
            (    'U.S. Citizen',                                   '', ...),
            (    'U.S. Citizen',                                   '', ...),
            ('Non U.S. Citizen',                                   '', ...),
            ('Non U.S. Citizen',                                   '', ...),
            (             'All',                         'Wait Times', ...),
            (             'All',                         'Wait Times', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...)],
           )

check datatype of each column

In [7]:
df.dtypes

Airport                                                                     object
Terminal                                                                    object
Date                                                                        object
Hour                                                                        object
U.S. Citizen                                          Average Wait  Time     int64
                                                      Max Wait      Time     int64
Non U.S. Citizen                                      Average Wait  Time     int64
                                                      Max Wait      Time     int64
All               Wait Times                          Average Wait  Time     int64
                                                      Max Wait      Time     int64
                  Number Of Passengers Time Interval  0-15                   int64
                                                      16-30                  int64
                                                      31-45                  int64
                                                      46-60                  int64
                                                      61-90                  int64
                                                      91-120                 int64
                                                      120 plus               int64
                                                      Excluded               int64
                                                      Total                  int64
                                                      Flights                int64
                                                      Booths                 int64
dtype: object

find out columns which have na values

In [8]:
df.isna().any().any()

False

In [9]:
df.nunique()

Airport                                                                        1
Terminal                                                                       1
Date                                                                         365
Hour                                                                          24
U.S. Citizen                                          Average Wait  Time      44
                                                      Max Wait      Time     154
Non U.S. Citizen                                      Average Wait  Time      95
                                                      Max Wait      Time     175
All               Wait Times                          Average Wait  Time      63
                                                      Max Wait      Time     175
                  Number Of Passengers Time Interval  0-15                  1373
                                                      16-30                  780
                                                      31-45                  414
                                                      46-60                  264
                                                      61-90                  283
                                                      91-120                 149
                                                      120 plus                73
                                                      Excluded               142
                                                      Total                 2040
                                                      Flights                 17
                                                      Booths                  41
dtype: int64

In [10]:
df.stack()

          Airport                                All                        \
                  Number Of Passengers Time Interval
                                                0-15 120 plus  16-30 31-45
0             ORD                                0.0      0.0    0.0   0.0
     Time     NaN                                NaN      NaN    NaN   NaN
1             ORD                              121.0      0.0  160.0  60.0
     Time     NaN                                NaN      NaN    NaN   NaN
2             ORD                              154.0      0.0   81.0  64.0
...           ...                                ...      ...    ...   ...
6701 Time     NaN                                NaN      NaN    NaN   NaN
6702          ORD                                4.0      0.0  119.0  38.0
     Time     NaN                                NaN      NaN    NaN   NaN
6703          ORD                              367.0      0.0   66.0   0.0
     Time     NaN                                NaN      NaN    NaN   NaN

                                              ...                      \
                                              ...          Wait Times
          46-60 61-90 91-120 Booths Excluded  ...  Total Average Wait
0           0.0   0.0    0.0    0.0      7.0  ...    7.0          NaN
     Time   NaN   NaN    NaN    NaN      NaN  ...    NaN          0.0
1           8.0   0.0    0.0   10.0     13.0  ...  362.0          NaN
     Time   NaN   NaN    NaN    NaN      NaN  ...    NaN         20.0
2          19.0   0.0    0.0   10.0     10.0  ...  328.0          NaN
...         ...   ...    ...    ...      ...  ...    ...          ...
6701 Time   NaN   NaN    NaN    NaN      NaN  ...    NaN          7.0
6702        0.0   0.0    0.0    3.0      6.0  ...  167.0          NaN
     Time   NaN   NaN    NaN    NaN      NaN  ...    NaN         28.0
6703        0.0   0.0    0.0    8.0     18.0  ...  451.0          NaN
     Time   NaN   NaN    NaN    NaN      NaN  ...    NaN          8.0

                                   Date         Hour Non U.S. Citizen  \

          Max Wait                                       Average Wait
0              NaN  2017-01-01 00:00:00  0300 - 0400              NaN
     Time      0.0                  NaN          NaN              0.0
1              NaN  2017-01-01 00:00:00  0400 - 0500              NaN
     Time     51.0                  NaN          NaN             28.0
2              NaN  2017-01-01 00:00:00  0600 - 0700              NaN
...            ...                  ...          ...              ...
6701 Time     18.0                  NaN          NaN              8.0
6702           NaN           12/31/2017  2100 - 2200              NaN
     Time     39.0                  NaN          NaN             31.0
6703           NaN           12/31/2017  2300 - 0000              NaN
     Time     25.0                  NaN          NaN             11.0

                      Terminal U.S. Citizen

          Max Wait             Average Wait Max Wait
0              NaN  Terminal 5          NaN      NaN
     Time      0.0         NaN          0.0      0.0
1              NaN  Terminal 5          NaN      NaN
     Time     51.0         NaN         18.0     51.0
2              NaN  Terminal 5          NaN      NaN
...            ...         ...          ...      ...
6701 Time     18.0         NaN          7.0     18.0
6702           NaN  Terminal 5          NaN      NaN
     Time     39.0         NaN         28.0     39.0
6703           NaN  Terminal 5          NaN      NaN
     Time     25.0         NaN          7.0     25.0

[13408 rows x 21 columns]

check if there are any unique values in first two columns

In [11]:
df['Airport'].unique()

array(['ORD'], dtype=object)

In [12]:
df['Terminal'].unique()

array(['Terminal 5'], dtype=object)

In [13]:
df[['Airport','Terminal']].nunique()

Airport           1
Terminal          1
dtype: int64

based on above, are these two columns userful ?

In [14]:
#No
df.drop(['Airport','Terminal'], axis=1, inplace=True)

C:\Users\pallavi.saxena\Anaconda3\lib\site-packages\pandas\core\generic.py:3884: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [15]:
df.columns[3]

('U.S. Citizen', '', 'Max Wait', 'Time')

check if all hour values are present or not

In [16]:
df.head()

                  Date         Hour U.S. Citizen          Non U.S. Citizen  \

                                    Average Wait Max Wait     Average Wait
                                            Time     Time             Time
0  2017-01-01 00:00:00  0300 - 0400            0        0                0
1  2017-01-01 00:00:00  0400 - 0500           18       51               28
2  2017-01-01 00:00:00  0600 - 0700           11       49               27
3  2017-01-01 00:00:00  0700 - 0800            7       24               12
4  2017-01-01 00:00:00  0800 - 0900            5       25               13

                    All                                                    \
             Wait Times          Number Of Passengers Time Interval
  Max Wait Average Wait Max Wait                               0-15 16-30
      Time         Time     Time
0        0            0        0                                  0     0
1       51           20       51                                121   160
2       49           20       49                                154    81
3       26           10       26                                272    88
4       37           10       37                                298   121



  31-45 46-60 61-90 91-120 120 plus Excluded Total Flights Booths

0     0     0     0      0        0        7     7       1      0
1    60     8     0      0        0       13   362       3     10
2    64    19     0      0        0       10   328       1     10
3     0     0     0      0        0       10   370       2     12
4    16     0     0      0        0       11   446       2     12

In [17]:
df['Hour'].value_counts()

1300 - 1400    365
1400 - 1500    365
1800 - 1900    365
1900 - 2000    365
1500 - 1600    365
1700 - 1800    364
1600 - 1700    364
1200 - 1300    360
1100 - 1200    359
1000 - 1100    353
0800 - 0900    347
0000 - 0100    331
2300 - 0000    329
0600 - 0700    318
0900 - 1000    316
2000 - 2100    292
0700 - 0800    248
2200 - 2300    219
0500 - 0600    200
2100 - 2200    194
0400 - 0500    159
0100 - 0200     80
0200 - 0300     24
0300 - 0400     22
Name: Hour, dtype: int64

drop the upper bound of hour column Ex: replace 0100 - 0200 with 0100 ...

In [18]:
df['Hour']

0       0300 - 0400
1       0400 - 0500
2       0600 - 0700
3       0700 - 0800
4       0800 - 0900
           ...
6699    1800 - 1900
6700    1900 - 2000
6701    2000 - 2100
6702    2100 - 2200
6703    2300 - 0000
Name: Hour, Length: 6704, dtype: object

In [19]:
df['Hour'].dtype

dtype('O')

In [20]:
df['Hour'].str.split('-')

0       [0300 ,  0400]
1       [0400 ,  0500]
2       [0600 ,  0700]
3       [0700 ,  0800]
4       [0800 ,  0900]
             ...
6699    [1800 ,  1900]
6700    [1900 ,  2000]
6701    [2000 ,  2100]
6702    [2100 ,  2200]
6703    [2300 ,  0000]
Name: Hour, Length: 6704, dtype: object

In [21]:
df['Hour'].str.split('-').str[0]

0       0300
1       0400
2       0600
3       0700
4       0800
        ...
6699    1800
6700    1900
6701    2000
6702    2100
6703    2300
Name: Hour, Length: 6704, dtype: object

In [22]:
df['Hour'] = df['Hour'].str.split(' - ').str[0]

In [23]:
df.head()

                  Date  Hour U.S. Citizen          Non U.S. Citizen           \

                             Average Wait Max Wait     Average Wait Max Wait
                                     Time     Time             Time     Time
0  2017-01-01 00:00:00  0300            0        0                0        0
1  2017-01-01 00:00:00  0400           18       51               28       51
2  2017-01-01 00:00:00  0600           11       49               27       49
3  2017-01-01 00:00:00  0700            7       24               12       26
4  2017-01-01 00:00:00  0800            5       25               13       37

           All                                                                \
    Wait Times          Number Of Passengers Time Interval
  Average Wait Max Wait                               0-15 16-30 31-45 46-60
          Time     Time
0            0        0                                  0     0     0     0
1           20       51                                121   160    60     8
2           20       49                                154    81    64    19
3           10       26                                272    88     0     0
4           10       37                                298   121    16     0



  61-90 91-120 120 plus Excluded Total Flights Booths

0     0      0        0        7     7       1      0
1     0      0        0       13   362       3     10
2     0      0        0       10   328       1     10
3     0      0        0       10   370       2     12
4     0      0        0       11   446       2     12

check that hour values lie in range 0-2300 or not

In [24]:
df['Hour'].value_counts()

1300    365
1900    365
1400    365
1800    365
1500    365
1700    364
1600    364
1200    360
1100    359
1000    353
0800    347
0000    331
2300    329
0600    318
0900    316
2000    292
0700    248
2200    219
0500    200
2100    194
0400    159
0100     80
0200     24
0300     22
Name: Hour, dtype: int64

In [25]:
df['Hour'].astype("int32").between(0, 2300).value_counts()

True    6704
Name: Hour, dtype: int64

- convert hour column from string type to datetime type. (If this doesn't work out easily, then first solve next problem)
- check that length of each hour value is 4, if not, check why and fix it and then check again

In [26]:
df['Hour'].value_counts()

1300    365
1900    365
1400    365
1800    365
1500    365
1700    364
1600    364
1200    360
1100    359
1000    353
0800    347
0000    331
2300    329
0600    318
0900    316
2000    292
0700    248
2200    219
0500    200
2100    194
0400    159
0100     80
0200     24
0300     22
Name: Hour, dtype: int64

In [27]:
df['Hour']=pd.to_datetime(df['Hour'], format='%H%M')#df['Hour'].

In [28]:
#df['Hour']=df['Hour'].dt.strftime('%H:%M')

In [29]:
#pd.to_datetime(df['Hour'], format='%H%M')

In [30]:
#df['Hour'].str.len().value_counts()

In [31]:
#df['Hour'].str.strip()

In [32]:
df['Hour'].dtype

dtype('<M8[ns]')

In [33]:
df.dtypes

Date                                                                                object
Hour                                                                        datetime64[ns]
U.S. Citizen                                          Average Wait  Time             int64
                                                      Max Wait      Time             int64
Non U.S. Citizen                                      Average Wait  Time             int64
                                                      Max Wait      Time             int64
All               Wait Times                          Average Wait  Time             int64
                                                      Max Wait      Time             int64
                  Number Of Passengers Time Interval  0-15                           int64
                                                      16-30                          int64
                                                      31-45                          int64
                                                      46-60                          int64
                                                      61-90                          int64
                                                      91-120                         int64
                                                      120 plus                       int64
                                                      Excluded                       int64
                                                      Total                          int64
                                                      Flights                        int64
                                                      Booths                         int64
dtype: object

In [34]:
df.info

<bound method DataFrame.info of                      Date                Hour U.S. Citizen           \

                                              Average Wait Max Wait
                                                      Time     Time
0     2017-01-01 00:00:00 1900-01-01 03:00:00            0        0
1     2017-01-01 00:00:00 1900-01-01 04:00:00           18       51
2     2017-01-01 00:00:00 1900-01-01 06:00:00           11       49
3     2017-01-01 00:00:00 1900-01-01 07:00:00            7       24
4     2017-01-01 00:00:00 1900-01-01 08:00:00            5       25
...                   ...                 ...          ...      ...
6699           12/31/2017 1900-01-01 18:00:00           16       47
6700           12/31/2017 1900-01-01 19:00:00            7       23
6701           12/31/2017 1900-01-01 20:00:00            7       18
6702           12/31/2017 1900-01-01 21:00:00           28       39
6703           12/31/2017 1900-01-01 23:00:00            7       25

     Non U.S. Citizen                   All           \
                                 Wait Times
         Average Wait Max Wait Average Wait Max Wait
                 Time     Time         Time     Time
0                   0        0            0        0
1                  28       51           20       51
2                  27       49           20       49
3                  12       26           10       26
4                  13       37           10       37
...               ...      ...          ...      ...
6699               16       48           16       48
6700                9       23            7       23
6701                8       18            7       18
6702               31       39           28       39
6703               11       25            8       25

                                                                        \
     Number Of Passengers Time Interval
                                   0-15 16-30 31-45 46-60 61-90 91-120

0                                     0     0     0     0     0      0
1                                   121   160    60     8     0      0
2                                   154    81    64    19     0      0
3                                   272    88     0     0     0      0
4                                   298   121    16     0     0      0
...                                 ...   ...   ...   ...   ...    ...
6699                                686   506   148     9     0      0
6700                                253    21     0     0     0      0
6701                                387    25     0     0     0      0
6702                                  4   119    38     0     0      0
6703                                367    66     0     0     0      0



     120 plus Excluded Total Flights Booths

0           0        7     7       1      0
1           0       13   362       3     10
2           0       10   328       1     10
3           0       10   370       2     12
4           0       11   446       2     12
...       ...      ...   ...     ...    ...
6699        0       56  1405       9     17
6700        0       10   284       1     19
6701        0       15   427       2     14
6702        0        6   167       1      3
6703        0       18   451       3      8

[6704 rows x 19 columns]>

- convert Date column to datetime type
- check data types now
- replace Hours with only time part and Date column with only date part (both should be converted to datetime type before this)
- check data types again
- merge date and hour column into a new column date_time (type of date_time should be datetime not str)

In [35]:
df.columns

MultiIndex([(            'Date',                                   '', ...),
            (            'Hour',                                   '', ...),
            (    'U.S. Citizen',                                   '', ...),
            (    'U.S. Citizen',                                   '', ...),
            ('Non U.S. Citizen',                                   '', ...),
            ('Non U.S. Citizen',                                   '', ...),
            (             'All',                         'Wait Times', ...),
            (             'All',                         'Wait Times', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...),
            (             'All', 'Number Of Passengers Time Interval', ...)],
           )

In [36]:
df.head()

                  Date                Hour U.S. Citizen           \

                                           Average Wait Max Wait
                                                   Time     Time
0  2017-01-01 00:00:00 1900-01-01 03:00:00            0        0
1  2017-01-01 00:00:00 1900-01-01 04:00:00           18       51
2  2017-01-01 00:00:00 1900-01-01 06:00:00           11       49
3  2017-01-01 00:00:00 1900-01-01 07:00:00            7       24
4  2017-01-01 00:00:00 1900-01-01 08:00:00            5       25

  Non U.S. Citizen                   All           \
                              Wait Times
      Average Wait Max Wait Average Wait Max Wait
              Time     Time         Time     Time
0                0        0            0        0
1               28       51           20       51
2               27       49           20       49
3               12       26           10       26
4               13       37           10       37

                                                                              \
  Number Of Passengers Time Interval
                                0-15 16-30 31-45 46-60 61-90 91-120 120 plus

0                                  0     0     0     0     0      0        0
1                                121   160    60     8     0      0        0
2                                154    81    64    19     0      0        0
3                                272    88     0     0     0      0        0
4                                298   121    16     0     0      0        0



  Excluded Total Flights Booths

0        7     7       1      0
1       13   362       3     10
2       10   328       1     10
3       10   370       2     12
4       11   446       2     12

In [37]:
df['Date'].dtype

dtype('O')

In [38]:
#pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')

In [39]:
#df['Date']=df['Date'].str.replace('/', '-')

In [40]:
#pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')

In [41]:
#df['Date']=df['Date'].str.zfill(10)

In [42]:
#pd.to_datetime(df['Date'], format='%Y-%m-%d')

In [43]:
pd.to_datetime(df['Date'])

0      2017-01-01
1      2017-01-01
2      2017-01-01
3      2017-01-01
4      2017-01-01
          ...
6699   2017-12-31
6700   2017-12-31
6701   2017-12-31
6702   2017-12-31
6703   2017-12-31
Name: Date, Length: 6704, dtype: datetime64[ns]

In [44]:
df['Date'] = pd.to_datetime(df['Date'])

In [45]:
df['Date'].dtype

dtype('<M8[ns]')

In [46]:
df['Hour'].dtype

dtype('<M8[ns]')

In [47]:
df['Hour'].dt.time

0       03:00:00
1       04:00:00
2       06:00:00
3       07:00:00
4       08:00:00
          ...
6699    18:00:00
6700    19:00:00
6701    20:00:00
6702    21:00:00
6703    23:00:00
Name: Hour, Length: 6704, dtype: object

In [48]:
df['Hour'] = df['Hour'].dt.time

In [49]:
df[['Date','Hour']].dtypes

Date          datetime64[ns]
Hour                  object
dtype: object

In [50]:
df['Date'].dt.date

0       2017-01-01
1       2017-01-01
2       2017-01-01
3       2017-01-01
4       2017-01-01
           ...
6699    2017-12-31
6700    2017-12-31
6701    2017-12-31
6702    2017-12-31
6703    2017-12-31
Name: Date, Length: 6704, dtype: object

In [51]:
df['Date'] = df['Date'].dt.date

In [52]:
df[['Date','Hour']].dtypes

Date          object
Hour          object
dtype: object

In [53]:
#date_time
#df['Date']+df['Hour']

In [54]:
#df['Date'].str.cat(df['Hour'], sep =" ")

In [55]:
#df[['Date', 'Hour']].apply(lambda x: ' '.join(x), axis = 1)

In [56]:
df['date_time']=df['Date'].astype('str').str.cat(df['Hour'].astype('str'), sep =" ")

In [57]:
df['date_time'].dtype

dtype('O')

In [59]:
#df['Date'] = 
pd.to_datetime(df['date_time'])

0      2017-01-01 03:00:00
1      2017-01-01 04:00:00
2      2017-01-01 06:00:00
3      2017-01-01 07:00:00
4      2017-01-01 08:00:00
               ...
6699   2017-12-31 18:00:00
6700   2017-12-31 19:00:00
6701   2017-12-31 20:00:00
6702   2017-12-31 21:00:00
6703   2017-12-31 23:00:00
Name: date_time, Length: 6704, dtype: datetime64[ns]

In [60]:
df['date_time'] = pd.to_datetime(df['date_time'])

In [61]:
df['date_time'].dtype

dtype('<M8[ns]')