|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missingdata
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [1]:
import pandas as pd

In [2]:
# Read and Describe Data
df = pd.read_csv('titanic_dataset.csv')
print(df.describe(include = 'all'))

         Unnamed: 0       pclass     survived              name gender  \
count   1309.000000  1309.000000  1309.000000              1309   1309
unique          NaN          NaN          NaN              1307      2
top             NaN          NaN          NaN  Kelly, Mr. James   male
freq            NaN          NaN          NaN                 2    843
mean     654.000000     2.294882     0.381971               NaN    NaN
std      378.020061     0.837836     0.486055               NaN    NaN
min        0.000000     1.000000     0.000000               NaN    NaN
25%      327.000000     2.000000     0.000000               NaN    NaN
50%      654.000000     3.000000     0.000000               NaN    NaN
75%      981.000000     3.000000     1.000000               NaN    NaN
max     1308.000000     3.000000     1.000000               NaN    NaN

                age        sibsp        parch    ticket    fare        cabin  \
count   1046.000000  1309.000000  1309.000000      1309    1308          295
unique          NaN          NaN          NaN       929     263          186
top             NaN          NaN          NaN  CA. 2343  $8.05   C23 C25 C27
freq            NaN          NaN          NaN        11      60            6
mean      29.881135     0.498854     0.385027       NaN     NaN          NaN
std       14.413500     1.041658     0.865560       NaN     NaN          NaN
min        0.166700     0.000000     0.000000       NaN     NaN          NaN
25%       21.000000     0.000000     0.000000       NaN     NaN          NaN
50%       28.000000     0.000000     0.000000       NaN     NaN          NaN
75%       39.000000     1.000000     0.000000       NaN     NaN          NaN
max       80.000000     8.000000     9.000000       NaN     NaN          NaN

       embarked boat        body     home.dest
count      1307  486  121.000000           745
unique        3   27         NaN           369
top           S   13         NaN  New York, NY
freq        914   39         NaN            64
mean        NaN  NaN  160.809917           NaN
std         NaN  NaN   97.696922           NaN
min         NaN  NaN    1.000000           NaN
25%         NaN  NaN   72.000000           NaN
50%         NaN  NaN  155.000000           NaN
75%         NaN  NaN  256.000000           NaN
max         NaN  NaN  328.000000           NaN

In [3]:
# columns with missing data
print(df.isna().any())
print()
print(df.columns[df.isna().any() == True])

print(df.isna().sum()/df.shape[0])

Unnamed: 0    False
pclass        False
survived      False
name          False
gender        False
age            True
sibsp         False
parch         False
ticket        False
fare           True
cabin          True
embarked       True
boat           True
body           True
home.dest      True
dtype: bool

Index(['age', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], dtype='object')
Unnamed: 0    0.000000
pclass        0.000000
survived      0.000000
name          0.000000
gender        0.000000
age           0.200917
sibsp         0.000000
parch         0.000000
ticket        0.000000
fare          0.000764
cabin         0.774637
embarked      0.001528
boat          0.628724
body          0.907563
home.dest     0.430863
dtype: float64

In [4]:
# Print shape of dataset
print(df.shape)

(1309, 15)

In [5]:
# drop columns with more than 25% missing data
df.dropna(axis = 'columns', thresh = df.shape[0]*0.75, inplace = True)
print(df.head(2))

   Unnamed: 0  pclass  survived                            name  gender  \
0           0       1         1   Allen, Miss. Elisabeth Walton  female
1           1       1         1  Allison, Master. Hudson Trevor    male

       age  sibsp  parch  ticket      fare embarked
0  29.0000      0      0   24160  $211.34         S
1   0.9167      1      2  113781  $151.55         S

In [6]:
# drop columns having independent values(which do not affect the survival rate).
df.drop(columns = ['Unnamed: 0','name', 'ticket'], inplace = True)
print(df.head(2))

   pclass  survived  gender      age  sibsp  parch      fare embarked
0       1         1  female  29.0000      0      0  $211.34         S
1       1         1    male   0.9167      1      2  $151.55         S

In [7]:
# check data types of all columns
print(df.dtypes)

pclass        int64
survived      int64
gender       object
age         float64
sibsp         int64
parch         int64
fare         object
embarked     object
dtype: object

In [8]:
# convert price to numeric

# method-1
c1 = df.fare.replace(r'\$', '', regex = True)
print(c1.head()) 

# method-2. 
c2 = df.fare.str.replace('$', '')
print(c2.head())#No inplace option available so replace old col with result of replace

# Here I use method-1 
df.fare.replace(r'\$', '', regex = True, inplace = True)
print(df.head())

# finally change datatype
print()
df.fare = df.fare.astype('float64')
print(df.dtypes)

0    211.34
1    151.55
2    151.55
3    151.55
4    151.55
Name: fare, dtype: object
0    211.34
1    151.55
2    151.55
3    151.55
4    151.55
Name: fare, dtype: object
   pclass  survived  gender      age  sibsp  parch     fare embarked
0       1         1  female  29.0000      0      0  211.34         S
1       1         1    male   0.9167      1      2  151.55         S
2       1         0  female   2.0000      1      2  151.55         S
3       1         0    male  30.0000      1      2  151.55         S
4       1         0  female  25.0000      1      2  151.55         S

pclass        int64
survived      int64
gender       object
age         float64
sibsp         int64
parch         int64
fare        float64
embarked     object
dtype: object

In [9]:
#find columns still having missing/na values and also count of missing data
print(df.isna().any())
print()
print(df.isna().sum())

pclass      False
survived    False
gender      False
age          True
sibsp       False
parch       False
fare         True
embarked     True
dtype: bool

pclass        0
survived      0
gender        0
age         263
sibsp         0
parch         0
fare          1
embarked      2
dtype: int64

In [10]:
# fill na with mean for fare and age column column.
df.fare.fillna(df.fare.mean(), inplace = True)
df.age.fillna(df.age.mean(), inplace = True)
print(df.isna().sum())

pclass      0
survived    0
gender      0
age         0
sibsp       0
parch       0
fare        0
embarked    2
dtype: int64

In [11]:
# drop na values for embarked column.
df.dropna(subset = ['embarked'], inplace = True)
print(df.isna().sum())

pclass      0
survived    0
gender      0
age         0
sibsp       0
parch       0
fare        0
embarked    0
dtype: int64

In [12]:
# dump the dataframe to a csv file 'titanic_filtered.csv'.
df.to_csv('titanic_filtered.csv')

In [13]:
# for surviced column replace 0 with D and 1 with A
df.survived.replace({0:'D', 1:'A'}, inplace = True)
print(df.survived.head())

0    A
1    A
2    D
3    D
4    D
Name: survived, dtype: object

In [14]:
#find the frequency of different values in survived column
print( df.survived.value_counts() )

D    809
A    498
Name: survived, dtype: int64

In [15]:
#group by gender and survived and see the counts in each category
g1 = df.groupby(['gender', 'survived'])
g1.count()

                 pclass  age  sibsp  parch  fare  embarked
gender survived
female A            337  337    337    337   337       337
       D            127  127    127    127   127       127
male   A            161  161    161    161   161       161
       D            682  682    682    682   682       682

In [16]:
# find different pclass and no of people in each class
print(df.pclass.unique())
print()
print(df.pclass.value_counts())

[1 2 3]

3    709
1    321
2    277
Name: pclass, dtype: int64

In [17]:
# find top 5 people with highest values of age. Count no of male and females in the top 5
res = df.nlargest(5, 'age')
print(res)
print(res.gender.value_counts())

      pclass survived  gender   age  sibsp  parch   fare embarked
14         1        A    male  80.0      0      0  30.00        S
61         1        A  female  76.0      1      0  78.85        S
1235       3        D    male  74.0      0      0   7.78        S
9          1        D    male  71.0      0      0  49.50        C
135        1        D    male  71.0      0      0  34.65        C
male      4
female    1
Name: gender, dtype: int64

In [18]:
# find max age male and female who survived
res = df[(df.survived == 'A') & (df.gender == 'male')]
print(res.nlargest(1, 'age'))

res = df[(df.survived == 'A') & (df.gender == 'female')]
print(res.nlargest(1, 'age'))

    pclass survived gender   age  sibsp  parch  fare embarked
14       1        A   male  80.0      0      0  30.0        S
    pclass survived  gender   age  sibsp  parch   fare embarked
61       1        A  female  76.0      1      0  78.85        S

In [19]:
# get average age by gender
print(df.groupby('gender').age.mean())

gender
female    28.795931
male      30.430716
Name: age, dtype: float64

In [20]:
# get average age by people survived vs not-survived
print(df.groupby('survived').age.mean())

survived
A    28.974711
D    30.389368
Name: age, dtype: float64